<div class="modal-header">
	<h3>{{ i18n.core.reporting.title }}</h3>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-danger alert-dismissable" ng-show="error">
					<a class="close" href="" ng-click="clearError()">&times;</a>
					<i class="icon-remove-sign"></i>
					{{ error }}
				</div>

				<div class="form-group">
					<lable>{{ i18n.core.reporting.report }}</label>
					<select ng-options="s.Name for s in data.settings" ng-model="data.setting" class="form-control"></select>
				</div>
				<div class="form-group">
					<lable>{{ i18n.core.reporting.priority.title }}</label>
					<select ng-model="data.priority" class="form-control">
						<option value="{{ priorities.BY_DATE }}">{{ i18n.core.reporting.priority.byDate }}</option>
						<option value="{{ priorities.BY_USER }}">{{ i18n.core.reporting.priority.byUser }}</option>
					</select>
				</div>
				<div class="form-group">
					<lable>{{ i18n.core.reporting.result }}</label>
					<input type="text" ng-model="data.resultName" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="!valid()">{{ i18n.core.reporting.run }}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{ i18n.core.buttons.cancel }}</button>
</div>