<div class="modal-header">
	<h3>{{ i18n.core.reporting.title }}</h3>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<lable>{{ i18n.core.reporting.report }}</label>
					<select ng-options="s.Name for s in settings" ng-model="setting" class="form-control"></select>
				</div>
				<div class="form-group">
					<lable>{{ i18n.core.reporting.service }}</label>
					<select ng-options="s.text for s in services" ng-model="service" class="form-control"></select>
				</div>
				<div class="form-group">
					<lable>{{ i18n.core.reporting.result }}</label>
					<input type="text" ng-model="resultName" class="form-control" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()" ng-disabled="!valid()">{{ i18n.core.reporting.run }}</button>
	<button class="btn btn-warning" ng-click="cancel()">{{ i18n.core.buttons.cancel }}</button>
</div>