<li class="dropdown notification-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-print"></i>
        <span ng-show="badge !== ''" class="count">{{badge}}</span>

        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu messages">

        <li>
            <span style="padding: 3px 20px;">
                <a onclick="event.stopPropagation();" class="dropdown-menu-sub-header" ng-click="updateUnreadUserReports()"><i ng-class="{'icon-spin':updating}" class="icon-refresh"></i></a>
                <a href="#!/userReports" class="dropdown-menu-sub-footer">View all reports</a>
            </span>
        </li>

        <li ng-show="showGenerating" class="nav-header">Last 5 generating reports</li>
        <li ng-show="showGenerating" ng-repeat="report in generating">

            <div style="padding: 3px 20px;">
                <i class="icon-cog icon-spin"></i>&nbsp; {{report.Percent}}%
                <button ng-click="cancelReportGeneration($index)" onclick="event.stopPropagation();" class="btn btn-mini btn-danger" type="button">Cancel</button>
                {{report.Name}}
            </div>


        </li>

        <li ng-show="showDone" class="nav-header">Last 5 unread reports</li>
        <li ng-show="showDone" ng-repeat="report in done">
            <a href="#">
                  {{report.Name}}
            </a>
        </li>
    </ul>
</li>