<li class="dropdown notification-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-print"></i>
        <span ng-show="badge !== ''" class="count">{{badge}}</span>

        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu messages">

        <li>
            <span style="padding: 3px 20px;">
                <a onclick="event.stopPropagation();" class="dropdown-menu-sub-header" ng-click="reloadReportEvents()"><i ng-class="{'icon-spin':isReloading}" class="icon-refresh"></i></a>
                <a class="dropdown-menu-sub-footer">View all reports</a>
            </span>
        </li>

        <li ng-repeat="report in reports.gen">
            <span style="padding: 3px 20px;">{{report.name}}, {{report.percent}}%</span>
            <button ng-click="cancelReportGeneration($index)" onclick="event.stopPropagation();" class="btn btn-mini btn-danger" type="button">Cancel</button>
        </li>
        <li ng-repeat="report in reports.done">
            <a href="#">
                  {{report.name}}
            </a>
        </li>
    </ul>
</li>