<div class="container" 
	ng-controller="taskTypeCtrl"
	filtered-list="{method: 'tasks/dictionary/getTaskTypes'}"
	initial-sorters="{ Name: 'asc' }">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">
			<!-- Title -->
			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-cog"></i>
							<span>{{ i18n.tasks.types.title }}</span>
						</h1>
					</div>
				</div>
			</div>

			<!-- Filter -->
			<div filters-box="filter" meta="tasks/dictionary/taskTypeMetadata" group="Tasks.TaskType"
				apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter"
				style="padding-top: 5px">
					<form class="form form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
							<div class="col-md-9">
								<input type="text" ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="form-control" />
							</div>
						</div>
					</form>
			</div>

			<!-- Content -->
			<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}">
				<ago-box-title>
					<i class="icon-cog"></i>
					{{ i18n.tasks.types.title }}
				</ago-box-title>
				<ago-box-content>
					<div class="box-toolbox box-toolbox-top">
						<ago-error-msg></ago-error-msg>

						<form name="createTaskTypeForm" class="form-inline" novalidate>
							<div class="row">
								<div class="col-sm-6" ng-class="{'has-error': (createTaskTypeForm.$invalid || validation.fieldErrors['Name'])}">
									<div class="row">
										<div class="input-group col-xs-12">
											<input type="text" ng-model="editModel.name" placeholder="{{ i18n.tasks.types.placeholders.name }}" class="form-control" ng-required="editModel.focused" ng-focus="editModel.focused=true" ng-blur="editModel.focused=false"/>
											<div class="input-group-btn">
												<button type="button" class="btn" ng-click="createTaskType()" ng-disabled="!createEnabled()">{{ i18n.core.buttons.add }}</button>
												<button type="button" class="btn" ng-click="dropChanges()" title="{{ i18n.core.buttons.clear }}">&times;</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<span ng-show="validation.fieldErrors['Name']" class="help-block has-error">
												{{ validation.fieldErrors['Name'] | joinBy }}
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="row">
										<div class="col-md-3">
											<button type="button" class="btn btn-danger pull-right" ng-click="deleteSelected()" ng-disabled="!hasSelected()" title="{{i18n.core.buttons.deleteSelected}}">{{ i18n.core.buttons.delete }}</button>
											<div class="clearfix"></div>
										</div>
										<div class="col-md-9">
											<input type="text" lookup="tasks/dictionary/lookupTaskTypes" lookup-options="{allowClear: true}" ng-model="deleteModel.replacementType" placeholder="{{ i18n.tasks.types.placeholders.replacementType }}" class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div><!-- toolbox -->

					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="onepct">
											<input type="checkbox" checker="items: 'models'">
										</th>
										<th><span sortable-heading="sorters.Name" caption="{{ i18n.core.fields.name }}"></span></th>
										<th style="width: 15%"><span sortable-heading="sorters.Creator_FIO" caption="{{ i18n.core.fields.creator }}"></span></th>
										<th style="width: 20%"><span sortable-heading="sorters.CreationTime" caption="{{ i18n.core.fields.creationTime }}"></span></th>
										<th class="onepct">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="model in models">
										<td>
											<input type="checkbox" ng-model="model.selected" data-itemid="{{ model.Id }}">
										</td>
										<td>
											<inline-text model="model.Name" on-update="onUpdate(model, val)" on-cancel="onCancel(model, val)" input-class="span10" required></inline-text>
											<span ng-show="model.validation.fieldErrors['Name']" class="help-block alert-error">
												{{ model.validation.fieldErrors['Name'] | joinBy }}
											</span>
										</td>
										<td>{{ model.Author }}</td>
										<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
										<td>
											<ago-btn-delete title="{{ i18n.tasks.types.buttons.delete }}" ng-click="delete(model)"></ago-btn-delete>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="box-toolbox box-toolbox-bottom">
						<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1">{{ i18n.core.buttons.more }}</button>

						<counter action="tasks/dictionary/getTaskTypesCount"></counter>
					</div>
				</ago-box-content>
			</ago-box>
		
		</div><!-- col-xs-12 -->
	</div><!-- row content-wrapper -->
</div>