<div class="tag-editor col-md-12">
	<form class="form-inline record" novalidate ng-class="{ 'has-error': !validation.success }"
	      ng-mouseenter="hover = true;" ng-mouseleave="hover = false;">

		<div class="input-group col-md-2">
			<span ng-show="tag.Id && !expanded" class="input-group-btn">
				<button type="button" class="btn btn-mini" ng-click="expandChildren()">
					<span class="arrow">►</span>
				</button>
				&nbsp;
			</span>

			<span ng-show="tag.Id && expanded" class="input-group-btn">
				<button type="button" class="btn btn-mini" ng-click="collapseChildren()">
					<span class="arrow">▼</span>
				</button>
				&nbsp;
			</span>
			<span ng-show="hover" class="input-group-btn">
				<button class="btn btn-danger" title="{{ i18n.core.filters.buttons.deleteNode }}"
				        ng-disabled="!hover" ng-click="doDelete(tag)">
					<i class="icon-minus"></i>
				</button>
			</span>
			<span>&nbsp;</span>
		</div>
		<div class="input-group" ng-class="{ 'col-md-9': validation.success, 'col-md-4': !validation.success }">
			<inline-text ng-show="tag.Name" model="tag.Name" on-update="doUpdate(val)" required></inline-text>
		</div>
		<div class="input-group" ng-class="{ 'col-md-1': validation.success, 'col-md-6': !validation.success }">
			<span ng-show="validation.fieldErrors['Name']" class="help-block">
				{{ validation.fieldErrors['Name'] | joinBy }}
			</span>

			<span ng-show="validation.generalErrors" class="help-block">
				{{ validation.generalErrors | joinBy }}
			</span>
		</div>
		<div class="clearfix"></div>
	</form>

	<div class="nodeChildren">
		<div class="nodeChildrenContainer"></div>
	</div>
</div>