<div class="container"
     ng-controller="projectsListCtrl"
     filtered-list="{method: 'home/projects/getProjects'}"
     initial-sorters="{ CreationTime: 'desc' }">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">
			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-table"></i>
							<span>{{ i18n.projects.list.title }}</span>
						</h1>
					</div>
				</div>
			</div>

			<div filters-box="filter" meta="home/projects/projectMetadata" group="Projects"
			        apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter"
			        style="padding-top: 5px">
				<ago-box-content>
					<form class="form form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.projects.list.filters.participation.label }}</label>
							<div class="col-md-9">
								<select ng-model="filter.simple.Participation" class="form-control">
									<option value="All">{{ i18n.projects.list.filters.participation.all }}</option>
									<option value="Participated">{{ i18n.projects.list.filters.participation.me }}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="form-control" multiple />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.projects.fields.status }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Status" filter-node="{path: 'Status', op:'='}"
								       lookup="home/dictionary/lookupProjectStatuses" class="form-control" multiple />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.projects.fields.tags }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Tags" filter-node="{path: 'Tags.Tag', op:'='}"
								       lookup="home/dictionary/lookupProjectTags" class="form-control" multiple />
							</div>
						</div>
					</form>
				</ago-box-content>
			</div>

			<div class="row box">
				<div class="col-lg-12">
					<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}">
						<ago-box-title>
							<i class="fa icon-table"></i>
							{{ i18n.projects.list.title }}
						</ago-box-title>
						<ago-box-content>
							<div class="box-toolbox box-toolbox-top" ng-show="currentUser.admin">
								<a href="#!/projects/new" class="btn btn-primary">
									<i class="icon-plus icon-white"></i>
									<span>{{ i18n.core.buttons.add }}</span>
								</a>
							</div>

							<div class="row">
								<div ng-repeat="model in models" class="col-xs-12 col-sm-6 col-lg-4">
									<div class="projectBox box-content clearfix">
										<a href="/projects/{{model.ProjectCode}}" target="_blank">
											<div class="projectIcon">&nbsp;</div>
											<div class="projectInfo">
												<h3 class="title">{{ model.Name }}</h3>
												<small>{{ model.Description }}</small>
											</div>
										</a>
										<div class="clearfix"></div>
										<div class="pull-left">
											<span class="label label-warning">{{ model.Status.Name }}</span>
										</div>
										<div class="pull-right">
										</div>
									</div>
								</div>
							</div>

							<div class="box-toolbox box-toolbox-bottom">
								<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1">{{ i18n.core.buttons.more }}</button>

								<counter action="home/projects/getProjectsCount"></counter>
							</div>
						</ago-box-content>
					</ago-box>
				</div>
			</div>
		</div>
	</div>
</div>