<div style="height: 300px;">
	<div class="alert alert-error" ng-show="validation.generalErrors">
		{{ validation.generalErrors }}
	</div>

	<form name="saveFilterForm" class="form-inline" novalidate>
		<input class="span6" name="name" type="text" ng-model="saveFilterName" required />
		<span ng-show="validation.fieldErrors['name']" class="help-inline">
			{{ validation.fieldErrors['name'] }}
		</span>
		<button class="btn btn-primary" style="margin-left: 13px;" ng-click="saveFilter()"
			ng-disabled='saveFilterForm.$invalid'>{{ i18n.core.buttons.save }}</button>
	</form>

	<form name="loadFilterForm" class="form-inline" novalidate>
		<select ng-model="loadFilterName" required
		        ng-options="name for name in filterNames">
		</select>
		<button class="btn btn-success" style="margin-left: 5px;" ng-click="loadFilter()"
			ng-disabled='loadFilterForm.$invalid'>{{ i18n.core.buttons.load }}</button>
		<button class="btn btn-danger" ng-click="deleteFilter()"
		    ng-disabled='loadFilterForm.$invalid'>{{ i18n.core.buttons.delete }}</button>
	</form>
</div>