<div class="nodeData">
	<form class="form" novalidate>
		<div ng-class="{'form-group': true, 'has-error': validationErrors.path.length }">
			<select class="form-control"
			        ng-model="node.path"
			        ng-options="path.value as path.label for path in paths">
			</select>
			<span class="help-block" ng-repeat="error in validationErrors.path">
				{{ error }}
			</span>
		</div>

		<div ng-show="opSelectVisible" ng-class="{'form-group': true, 'has-error': validationErrors.op.length }">
			<select class="form-control"
			        ng-model="node.op"
			        ng-options="op.value as op.label for op in ops">
			</select>
			<span class="help-block" ng-repeat="error in validationErrors.op">
				{{ error }}
			</span>
		</div>

		<div ng-show="editorType" ng-class="{'form-group': true, 'has-error': validationErrors.value.length }">
			<div filter-value-editor="{{editorType}}"></div>
			<span class="help-block" ng-repeat="error in validationErrors.value">
				{{ error }}
			</span>
		</div>

		<div>
			<button ng-click="onSaveEditor()" class="btn btn-success">{{ i18n.core.buttons.save }}</button>
			<button ng-click="onCancelEditor()" class="btn btn-danger">{{ i18n.core.buttons.cancel }}</button>
		</div>
	</form>
</div>