<div class="nodePanel">
	<form ng-show="!root" class="form-inline nodeData" novalidate ng-class="{ 'hasError': !context.validation.valid }"
	      ng-mouseenter="context.hover = true;" ng-mouseleave="context.hover = false;">

		<div class="input-group">
			<span ng-show="context.path.visible" class="input-group-btn btn-group dropdown">
				<button ng-disabled="!context.path.editable" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					{{ context.path.displayValue }}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="path in context.path.options">
						<a href="#" ng-click="nodeUpdated('path', path.value);">{{ path.label }}</a>
					</li>
				</ul>
			</span>
			<span ng-show="context.add" class="input-group-btn">
				<button class="btn btn-success" title="{{ i18n.core.filters.buttons.newNode }}"
				        ng-click="addNode()" ng-disabled="!context.add">
					<i class="icon-plus"></i>
				</button>
			</span>
			<span ng-show="context.op.visible" class="input-group-btn btn-group dropdown">
				<button ng-disabled="!context.op.editable" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					{{ context.op.displayValue }}
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="op in context.op.options">
						<a href="#" ng-click="nodeUpdated('op', op.value);">{{ op.label }}</a>
					</li>
				</ul>
			</span>
			<span ng-show="context.value.visible && context.value.editorType"
			      filter-value-editor="{{ context.value.editorType }}"></span>
			<span ng-show="!context.value.visible || !context.value.editorType">&nbsp;</span>
			<span ng-show="context.delete" class="input-group-btn">
				<button class="btn btn-danger pull-right" title="{{ i18n.core.filters.buttons.deleteNode }}"
				        ng-click="deleteNode()" ng-disabled="!context.delete">
					<i class="icon-minus"></i>
				</button>
			</span>
		</div>
	</form>

	<div ng-class="{ nodeChildren: !root }">
        <div class="nodeChildrenContainer"></div>
	</div>
</div>