<div class="filteringComponent">
	<div class="box-toolbox box-toolbox-top">
		<div class="pull-left btn-group">
			<button class="btn btn-success" title="{{ i18n.core.filters.buttons.newNode }}" ng-click="addNode()">
				<i class="icon-plus"></i>
			</button>
		</div>
		<div class="pull-right">
			<button class="btn btn-warning" title="{{ i18n.core.buttons.clear }}" ng-click="clear()">
				<i class="icon-remove-circle icon-white"></i> {{ i18n.core.buttons.clear }}
			</button>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div structured-filter-node
			     node="rootNode"
			     root="true"
			     meta="meta"
			     get-parent-metadata="getMetadata(callback)">
			</div>
		</div>
	</div>
</div>