<div class="nodePanel">
	<form class="form-inline nodeData row" novalidate ng-class="{ 'hasError': !context.typeValidation.valid || !context.valueValidation.valid}">
		<div class="col-md-6">
			<span ng-show="context.path.visible">
				<input type="text" lookup="core/dictionary/lookupCustomPropertyTypes" style="width: 100%;"
					ng-model="editingTypeNode.value" placeholder="{{ i18n.core.filters.placeholders.typeNode }}" autofocus required class="form-control" />
			</span>
		</div>
		<div class="col-md-6 input-group">
			<span ng-show="context.op.visible" class="input-group-btn btn-group dropdown">
				<button class="btn btn-success dropdown-toggle pull-left" data-toggle="dropdown">
					{{ context.op.displayValue }}
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="op in context.op.options">
						<a ng-click="nodeUpdated('op', op.value);">{{ op.label }}</a>
					</li>
				</ul>
			</span>
			<span ng-show="context.value.visible && context.value.editorType"
			      filter-value-editor="{{ context.value.editorType }}"></span>
			<span ng-show="!context.value.visible || !context.value.editorType">&nbsp;</span>
			<span class="input-group-btn">
				<button class="btn btn-danger pull-right" title="{{ i18n.core.filters.buttons.deleteNode }}"
				        ng-click="deleteNode()">
					<i class="icon-minus"></i>
				</button>
			</span>
		</div>
	</form>
</div>