<div class="nodePanel">
	<div ng-show="!(editMode && !newNodeParent) && node != rootNode">
		<div ng-class="nodeDataClass"
		     ng-click="onNodeClick($event)"
		     ng-dblclick="onNodeDblClick($event)">
			<label class="pathLabel" ng-show="pathDisplayName && pathDisplayName.length">{{ pathDisplayName }}</label>
			<label class="opLabel" ng-show="opDisplayName && opDisplayName.length">{{ opDisplayName }}</label>
			<label class="valueLabel" ng-show="valueDisplayName && valueDisplayName.length">{{ valueDisplayName }}</label>
		</div>
	</div>
	<div ng-show="editMode && !newNodeParent">
		<div custom-properties-filter-node-editor></div>
	</div>

	<div ng-class="nodeChildrenClass">
		<div ng-show="node.items.length">
			<div custom-properties-filter-subnode
			     ng-repeat="subNode in node.items"
			     node="subNode"
			     root-node="rootNode"
			     selected-node="selectedNode"
			     editing-node="editingNode"
			     new-node-parent="newNodeParent"
			     get-parent-metadata="getMetadata()">
			</div>
		</div>

		<div ng-show="editMode && newNodeParent">
			<div custom-properties-filter-node-editor></div>
		</div>
	</div>
</div>