<div style="height: 300px;">
	<div class="alert alert-error" ng-show="validation.generalError">
		{{ validation.generalError }}
	</div>

	<form name="saveFilterForm" class="form-inline" novalidate>
		<input class="span6" name="name" type="text" ng-model="saveFilterName" required />
		<span ng-show="validation.fieldErrors['name']" class="help-inline">
			{{ validation.fieldErrors['name'] }}
		</span>
		<button class="btn btn-primary" ng-click="saveFilter()"
			ng-disabled='saveFilterForm.$invalid'>Сохранить</button>
	</form>

	<form name="loadFilterForm" class="form-inline" novalidate>
		<input class="span6" name="name" type="text"
	       ui-select2="filterNameLookupOptions" ng-model="loadFilterName" required />
		<button class="btn btn-success" style="margin-left: 5px;" ng-click="loadFilter()"
			ng-disabled='loadFilterForm.$invalid'>Загрузить</button>
		<button class="btn btn-danger" ng-click="deleteFilter()"
		    ng-disabled='loadFilterForm.$invalid'>Удалить</button>
	</form>
</div>