<div class="nodePanel">
	<div ng-class="nodeDataClass"
	     ng-show="!(editMode && !newNodeParent) && node != rootNode"
	     ng-click="onNodeClick($event)"
	     ng-dblclick="onNodeDblClick($event)">
		<label class="pathLabel" ng-show="node.path && node.path.length">{{ pathDisplayName() }}</label>
		<label class="opLabel" ng-show="node.op && node.op.length">{{ opDisplayName() }}</label>
		<label class="valueLabel" ng-show="node.value && node.value.length">{{ valueDisplayName() }}</label>
	</div>

	<div ng-show="editMode && !newNodeParent">
		<div node-editor></div>
	</div>

	<div ng-class="nodeChildrenClass">
		<div structured-filter-subnode
		     ng-repeat="subNode in node.items"
		     node="subNode"
		     root-node="rootNode"
		     selected-node="selectedNode"
		     editing-node="editingNode"
		     new-node-parent="newNodeParent"
		     get-parent-metadata="getMetadata()">
	     </div>

		<div ng-show="editMode && newNodeParent">
			<div node-editor></div>
		</div>
	</div>
</div>