<div class="filteringComponent structuredFilter">
	<div class="buttons btn-group">
		<button class="btn btn-success" title="Добавить верхний уровень" ng-click="newRootNode()" ng-disabled="editingNode">
			<i class="icon-plus icon-white"></i> верхний уровень
		</button>
		<button class="btn" disabled="disabled" title="Добавить" ng-click="newNode()"
		        ng-disabled="editingNode || !selectedNode || !isCompositeSelected">
			<i class="icon-plus"></i>
		</button>
		<button class="btn" disabled="disabled" title="Редактировать" ng-click="editNode()" ng-disabled="editingNode || !selectedNode">
			<i class="icon-pencil"></i>
		</button>
		<button class="btn" disabled="disabled" title="Удалить" ng-click="deleteNode()" ng-disabled="editingNode || !selectedNode">
			<i class="icon-minus"></i>
		</button>
	</div>
	<div class="nodesContainer">
		<div structured-filter-node
		     node="rootNode"
		     root-node="rootNode"
		     selected-node="selectedNode"
		     editing-node="editingNode"
		     new-node-parent="newNodeParent"
		     get-parent-metadata="getMetadata()">
		</div>
	</div>
	<div class="buttons btn-group">
		<button class="btn btn-warning" title="Очистить" ng-click="clearNodes()" ng-disabled="editingNode">
			<i class="icon-remove-circle icon-white"></i> Очистить
		</button>
	</div>
</div>