<div class="nodeData nodeEditor">
	<input type="text" ui-select2="propertyTypeSelectOptions" class="pathSelect" ng-model="propertyTypeSelection" />
	<ul class="errorsList" ng-show="validationErrors.path.length">
		<li ng-repeat="error in validationErrors.path">{{ error }}</li>
	</ul>

	<div ng-show="opSelectVisible">
		<select class="opSelect"
		        ng-model="node.op"
		        ng-options="op.value as op.label for op in ops">
		</select>
	</div>
	<ul class="errorsList" ng-show="validationErrors.op.length">
		<li ng-repeat="error in validationErrors.op">{{ error }}</li>
	</ul>

	<div ng-show="valueEditorUrl && valueEditorUrl.length">
		<ng-include src="valueEditorUrl"></ng-include>
	</div>
	<ul class="errorsList" ng-show="validationErrors.value.length">
		<li ng-repeat="error in validationErrors.value">{{ error }}</li>
	</ul>

	<div class="buttons btn-group">
		<button ng-click="onSaveEditor()" class="btn btn-success">Сохранить</button>
		<button ng-click="onCancelEditor()" class="btn btn-danger">Отмена</button>
	</div>
</div>