<container>
	<div ng-controller="projectsListCtrl" filtered-list="{method: 'home/projects/getProjects'}">
		<twocolumn-side>
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Наименование</label>
							<input filter-lookup="{path: 'Name', op:'='}" action="/api/home/projects/lookupProjectNames" filter-ng-model="filter.simple.Name" />
							<label>Статус</label>
							<input filter-lookup="{path: 'Status', op:'='}" action="/api/home/dictionary/lookupProjectStatuses" filter-ng-model="filter.simple.Status" />
							<label>Участие</label>
							<select ng-model="requestParams.mode">
								<option value="All">Все</option>
								<option value="Participated">Я участник</option>
							</select>
							<label>Теги</label>
							<input filter-lookup="{path: 'Tags.Tag', op:'='}" action="/api/home/dictionary/lookupProjectTags" filter-ng-model="filter.simple.Tags" />
						</fieldset>

					</form>
				</tab>
				<tab heading="Complex">
					<div structured-filter filter-ng-model="filter.complex" meta="'home/projects/projectMetadata'">
					</div>
				</tab>

				<tab heading="Favorites">
					<div filter-persister group="'Projects'" filter="filter"></div>
				</tab>

			</tabset>
		</twocolumn-side>


		<twocolumn-content>
			<div ng-show="loading.active()" us-spinner="{top:100}"></div>

			<div style="margin-bottom: 10px;" ng-show="currentUser.admin">
				<a class="btn btn-primary" href="#!/projects/create">
					<i class="icon-plus icon-white"></i>
					<span>Добавить проект</span>
				</a>
			</div>

			<table class="table table-bordered sortable">
				<thead>
					<tr>
						<th data-sortproperty="Name">Наименование</th>
						<th data-sortproperty="TypeId">Тип</th>
						<th data-sortproperty="Description">Описание</th>
						<th data-sortproperty="StatusId">Статус</th>
						<th data-sortproperty="CreationTime" data-defaultsort="desc">Дата создания</th>
						<th data-sortproperty="IsArchive">Архив</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td>
							<a href="#!/projects/projectDetails/{{ model.Id }}">
								{{ model.Name }}
							</a>
						</td>
						<td>{{ model.Type.Name }}</td>
						<td>{{ model.Description }}</td>
						<td>{{ model.Status.Name }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
						<td>{{ model.IsArchive | yesNo }}</td>
					</tr>
				</tbody>
			</table>
			<pagination
					num-pages="paging.numPages"
					current-page="paging.page">
			</pagination>
		</twocolumn-content>
	</div>
</container>