<div ng-controller="projectsListFilterCtrl" ng-model="filter">
	<ul class="nav nav-tabs" id="filteringTabs">
		<!--<li class="active"><a href="#simpleFilter" data-toggle="tab"><i class="icon-search" title="Простой фильтр"></i></a></li>-->
		<li class="active"><a href="#structuredFilter" data-toggle="tab"><i class="icon-filter" title="Структурированный фильтр"></i></a></li>
		<li class="pull-right">
			<button class="btn btn-primary" ng-disabled="filterEnabled" ng-click="filterEnabled = true;">Применить фильтры</button>
		</li>
	</ul>

	<div class="tab-content">
		<!--<div class="tab-pane active" id="simpleFilter"></div>-->
		<div class="tab-pane active" id="structuredFilter">
			<div filter-model
			     root-node="structuredFilter"
			     model-type="opt.modelType">
				<div structured-filter></div>
			</div>
		</div>
	</div>
</div>