<div class="container" ng-controller="taskCreateCtrl">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">

			<div class="box ">
				<div class="box-header purple-background">
					<div class="title">
						<i class="icon-plus"></i>
						{{ i18n.tasks.create.title }}
					</div>
				</div>

				<div class="box-content">
					<ago-error-msg></ago-error-msg>
					
					<form name="form" class="form form-horizontal" novalidate>
						<!-- Task type -->
						<div class="form-group" ng-class="{'has-error': form.taskType.$invalid}">
							<label class="col-md-2 control-label" for="taskType">{{ i18n.tasks.fields.type }}</label>
							<div class="col-md-5">
								<input type="text" id="taskType" name="taskType" lookup="tasks/dictionary/lookupTaskTypes"
								       ng-model="model.taskType" placeholder="{{ i18n.tasks.create.placeholders.type }}" autofocus required class="form-control" />
							</div>
							<div class="col-md-5">
								<span ng-show="form.taskType.$error.required" class="help-block has-error">
									* {{ i18n.core.errors.requiredField }}
								</span>
								<span ng-show="validation.fieldErrors['TaskType']" class="help-block has-error">
									{{ validation.fieldErrors['TaskType'] | joinBy }}
								</span>
							</div>
						</div>
						<!-- Executors -->
						<div class="form-group" ng-class="{'has-error': form.executors.$invalid}">
							<label for="executors" class="col-md-2 control-label">{{ i18n.tasks.fields.executors }}</label>
							<div class="col-md-5">
								<input type="text" id="executors" name="executors" lookup="home/projects/lookupParticipant" ng-model="model.executors" multiple placeholder="{{ i18n.tasks.create.placeholders.executors }}" required-multiple class="form-control" />
							</div>
							<div class="col-md-5">
								<span ng-show="form.executors.$error.required" class="help-block has-error">
									* {{ i18n.core.errors.requiredField }}
								</span>
								<span ng-show="validation.fieldErrors['Executors']" class="help-block has-error">
									{{ validation.fieldErrors['Executors'] | joinBy }}
								</span>
							</div>
						</div>
						<!-- Due date -->
						<div class="form-group">
							<label for="dueDate" class="col-md-2 control-label">{{ i18n.tasks.fields.dueDate }}</label>
							<div class="col-md-5">
								<input id="dueDate" name="dueDate" ago-datepicker ng-model="model.dueDate" class="form-control" />
							</div>
						</div>
						<!-- Content -->
						<div class="form-group">
							<label class="col-md-2 control-label">{{ i18n.tasks.fields.content }}</label>
							<div class="col-md-5">
								<textarea name="content" ng-model="model.content" rows="3" class="form-control"></textarea>
							</div>
						</div>
						<!-- Custom status -->
						<div class="form-group">
							<label for="customStatus" class="col-md-2 control-label">{{ i18n.tasks.fields.customStatus }}</label>
							<div class="col-md-5">
								<input type="text" id="customStatus" lookup="tasks/dictionary/lookupCustomStatuses"
								       ng-model="model.customStatus" placeholder="{{ i18n.tasks.create.placeholders.customStatus }}" class="form-control" />
							</div>
						</div>
						<!-- Priority -->
						<div class="form-group">
							<label for="priority" class="col-md-2 control-label">{{ i18n.tasks.fields.priority }}</label>
							<div class="col-md-5">
								<input type="text" id="priority" lookup="tasks/dictionary/lookupTaskPriorities" lookup-options="{allowClear: true}" ng-model="model.priority" placeholder="{{ i18n.tasks.create.placeholders.priority }}" class="form-control" />
							</div>
						</div>
						<!-- Goto section -->
						<div class="form-group">
							<label class="col-md-2 control-label">{{ i18n.tasks.create.labels.afterCreation }}:</label>
							<div class="col-md-10">
								<label class="radio radio-inline">
									<input type="radio" ng-model="nextAction" value="goToTask">{{ i18n.tasks.create.labels.afterCreationGoToTask }}
								</label>
								<label class="radio radio-inline">
									<input type="radio" ng-model="nextAction" value="goToList">{{ i18n.tasks.create.labels.afterCreationGoToList }}
								</label>
								<label class="radio radio-inline">
									<input type="radio" ng-model="nextAction" value="stayHere">{{ i18n.tasks.create.labels.afterCreationStayHere }}
								</label>
							</div>
						</div>
						<!-- Action section -->
						<div class="form-actions form-actions-padding-sm">
							<div class="row">
								<div class="col-md-10 col-md-offset-2">
									<button type="button" class="btn" ng-click="cancel()">{{ i18n.core.buttons.cancel }}</button>
									<button type="button" class="btn btn-success" ng-click="create()" ng-disabled="form.$invalid">{{ i18n.tasks.create.buttons.save }}</button>
								</div>
							</div>
						</div>			
					</form>

				</div><!-- box-content -->
			</div><!-- box -->

		</div><!-- col-xs-12 -->
	</div><!-- row -->
</div><!-- container -->