<li ng-controller="userRoleCtrl">
	<a href="" class="dropdown-collapse">
		<i class='icon-user'></i>
		<span>{{ role.text }}</span>
		<i class='icon-angle-down angle-down'></i>
	</a>
	<ul class="nav nav-stacked">
		<li ng-repeat="r in memberRoles">
			<a href="" onclick="event.preventDefault();" ng-click="setRole(r)">
				<i ng-show="role.id == r.id" class="icon-ok pull-right"></i>
				{{ r.text }}
			</a>
		</li>
	</ul>
</li>

<li ng-class="{'active': $state.is('page.project.settings') || $state.is('page.project.templates.tasks')}">
	<a ui-sref="page.project.settings">
		<i class="icon-info"></i>
		<span>{{ i18n.projects.settings.title }}</span>
	</a>
</li>
<li ng-class="{'active': $state.is('page.project.tasks')}">
	<a ui-sref="page.project.tasks">
		<i class="icon-tasks"></i>
		<span>{{ i18n.tasks.list.title }}</span>
	</a>
</li>
<li ng-class="{'active': $state.is('page.project.taskTypes')}">
	<a ui-sref="page.project.taskTypes">
		<i class="icon-cog"></i>
		<span>{{ i18n.tasks.types.title }}</span>
	</a>
</li>
<li ng-class="{'active': $state.is('page.project.activities')}">
	<a ui-sref="page.project.activities({ itemId: null })">
		<i class="icon-bar-chart"></i>
		<span>{{ i18n.core.activities.title }}</span>
	</a>
</li>
<li ng-class="{'active': $state.is('page.project.reports.tasks')}">
	<a ui-sref="page.project.reports.tasks">
		<i class="icon-print"></i>
		<span>{{ i18n.core.reporting.reports.title }}</span>
	</a>
</li>
