<li ng-controller="userRoleCtrl">
	<a href="#" class="dropdown-collapse">
		<i class='icon-user'></i>
		<span>{{ 'core.roles.title' | i18n:{role: (roleName || i18n.core.roles.nothing)} }}</span>
		<i class='icon-angle-down angle-down'></i>
	</a>
	<ul class="nav nav-stacked">
		<li><a href="#" onclick="event.preventDefault();" ng-click="setRole('admin')">
			<i ng-show="roleIs('admin')" class="icon-ok" style="float:right;"></i>{{ i18n.core.roles.admin }}</a>
		</li>
		<li><a href="#" onclick="event.preventDefault();" ng-click="setRole('manager')">
			<i ng-show="roleIs('manager')" class="icon-ok" style="float:right;"></i>{{ i18n.tasks.roles.manager }}</a>
		</li>
		<li><a href="#" onclick="event.preventDefault();" ng-click="setRole('executor')">
			<i ng-show="roleIs('executor')" class="icon-ok" style="float:right;"></i>{{ i18n.tasks.roles.executor }}</a>
		</li>
	</ul>
</li>

<li ng-class="{'active': $state.is('page.project.settings')}">
	<a ui-sref="page.project.settings">
		<i class="icon-info"></i>
		<span>{{ i18n.projects.settings.title }}</span>
	</a>
</li>
<li ng-class="{'active': $state.is('page.project.tasks')}">
	<a ui-sref="page.project.tasks">
		<i class="icon-tasks"></i>
		<span>{{ i18n.tasks.list.title }}</span>
	</a>
</li>
<li ng-class="{'active': $state.is('page.project.taskTypes')}">
	<a ui-sref="page.project.taskTypes">
		<i class="icon-cog"></i>
		<span>{{ i18n.tasks.types.title }}</span>
	</a>
</li>