<container>
	<div filtered-list="'home/dictionary/getProjectStatuses'" current-user="currentUser">
		<twocolumn-side>
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Наименование</label>
							<input filter-input="{path: 'Name', op:'like'}" filter-ng-model="filter.simple.Name" />
							<label>Описание</label>
							<input filter-input="{path: 'Description', op:'like'}" filter-ng-model="filter.simple.Description" />
						</fieldset>
					</form>
				</tab>
				<tab heading="Complex">
					<div structured-filter
					     filter-ng-model="filter.complex"
					     meta="'home/dictionary/projectStatusMetadata'">
					</div>
				</tab>
			</tabset>
		</twocolumn-side>


		<twocolumn-content>
			<div ng-show="loading.active()" us-spinner="{top:100}"></div>

			<div style="margin-bottom: 10px;" ng-show="currentUser.admin">
				<a class="btn btn-primary" href="#!/projects/create">
					<i class="icon-plus icon-white"></i>
					<span>New status</span>
				</a>
			</div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Наименование</th>
						<th>Описание</th>
						<th>Дата создания</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in models">
						<td>{{ project.Name }} </td>
						<td>{{ project.Description }}</td>
						<td>{{ project.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
		</twocolumn-content>
	</div>
</container>