<container>
	<div ng-controller="projectStatusesCtrl" filtered-list="{ method: 'home/dictionary/getProjectStatuses'}">
		<twocolumn-side>
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Наименование</label>
							<input filter-lookup="{path: 'Id', op:'='}" action="/api/home/dictionary/lookupProjectStatuses" filter-ng-model="filter.simple.Id" />
						</fieldset>
					</form>
				</tab>
				<tab heading="Complex">
					<div structured-filter
					     filter-ng-model="filter.complex"
					     meta="'home/dictionary/projectStatusMetadata'">
					</div>
				</tab>
				<tab heading="Favorites">
					<div filter-persister group="'ProjectStatuses'" filter="filter"></div>
				</tab>
			</tabset>
		</twocolumn-side>


		<twocolumn-content>
			<div ng-show="loading.active()" us-spinner="{top:100}"></div>

			<div ng-show="currentUser.admin">
				<button style="margin-bottom: 20px;" class="btn btn-primary" ng-click="newItem();">
					<i class="icon-plus icon-white"></i>
					<span>New status</span>
				</button>

				<div class="alert alert-error" ng-show="validation.generalErrors">
					{{ validation.generalErrors | joinBy }}
				</div>

				<form style="margin-top: 10px;" name="newItemForm" class="form-horizontal" novalidate ng-show="editFormVisible">
					<fieldset>
						<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Name'] }">
							<label class="control-label">Наименование</label>
							<div class="controls">
								<input class="span3" name="Name" type="text" ng-model="editingItem.Name" required />
							<span ng-show="validation.fieldErrors['Name']" class="help-inline">
								{{ validation.fieldErrors['Name'] | joinBy }}
							</span>
						</div>
						</div>
						<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Description'] }">
							<label class="control-label">Описание</label>
							<div class="controls">
								<textarea class="span3" name="Description" ng-model="editingItem.Description"></textarea>
							<span ng-show="validation.fieldErrors['Description']" class="help-inline">
								{{ validation.fieldErrors['Description'] | joinBy }}
							</span>
						</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-primary login" ng-click="saveItem();"
							ng-disabled='newItemForm.$invalid'>Сохранить</button>
						<button class="btn btn-warning" ng-click="cancelEdit();">Отменить</button>
					</div>
				</form>
			</div>

			<table class="table table-bordered sortable">
				<thead>
					<tr>
						<th style="width: 115px;" ng-show="currentUser.admin"></th>
						<th data-sortproperty="Name" data-defaultsort="asc">Наименование</th>
						<th data-sortproperty="Description">Описание</th>
						<th data-sortproperty="CreationTime">Дата создания</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td ng-show="currentUser.admin">
							<button class="btn-mini btn-info" ng-click="editItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>Edit</span>
							</button>
							<button class="btn-mini btn-danger" ng-click="deleteItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>Delete</span>
							</button>
						</td>
						<td>
							<span>{{ model.Name }}</span>
						</td>
						<td>{{ model.Description }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
			<pagination
				num-pages="paging.numPages"
				current-page="paging.page">
			</pagination>
		</twocolumn-content>
	</div>
</container>