<div>
	<span>{{ caption }}</span>

	<div class="sorter pull-right">
		<button ng-show="sorter.direction !== 'desc'" type="button" class="btn btn-mini" ng-model="sorter.direction"
		        btn-checkbox btn-checkbox-true="'asc'" btn-checkbox-false="''" title="{{ i18n.core.sorting.ascending }}">
			<span class="arrow">▲</span>
			<span class="priority" ng-show="sorter.direction">{{ sorter.priority }}</span>
		</button>
		<button ng-show="sorter.direction !== 'asc'" type="button" class="btn btn-mini" ng-model="sorter.direction"
		        btn-checkbox btn-checkbox-true="'desc'" btn-checkbox-false="''" title="{{ i18n.core.sorting.descending }}">
			<span class="priority" ng-show="sorter.direction">{{ sorter.priority }}</span>
			<span class="arrow">▼</span>
		</button>
	</div>
</div>