<li class="dropdown light only-icon widget">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon-print"></i>
		<div ng-show="reports.count.active > 0 || reports.count.unread > 0" class="label">{{ reports.count.active }} / {{ reports.count.unread }}</div>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="" ng-click="update()" onclick="event.stopPropagation();">
				<div class='widget-body'>
					<div class='pull-left icon'>
						<i ng-class="{'icon-spin': reports.updating}" class="icon-refresh"></i>
					</div>
					<div class='pull-left text'>
						{{ i18n.core.buttons.refresh }}
					</div>
				</div>
			</a>
		</li>
		<li ng-show="reports.showActive" class="divider"></li>
		<li ng-show="reports.showActive" class="text-center">{{ i18n.core.reporting.running }}</li>
		<li ng-show="reports.showActive" ng-repeat="r in reports.active">
			<div class='widget-body'>
				<div class='pull-left icon'>
					<ago-report-icon report="r"></ago-report-icon>
				</div>
				<div class='pull-left text'>
					{{r.DataGenerationProgress}}% / {{r.ReportGenerationProgress}}%
					{{r.Name}}
					<button type="button" ng-click="cancel(r)" onclick="event.stopPropagation();" class="btn btn-xs btn-danger pull-right">{{ i18n.core.buttons.cancel }}</button>
				</div>
			</div>
		</li>
		<li ng-show="reports.showCompleted" class="divider"></li>
		<li ng-show="reports.showCompleted" class="text-center">{{ i18n.core.reporting.unread }}</li>
		<li ng-show="reports.showCompleted" ng-repeat="r in reports.completed">
			<div class='widget-body'>
				<div class='pull-left icon'>
					<ago-report-icon report="r"></ago-report-icon>
				</div>
				<div class='pull-left text' ago-report-link report="r">
				</div>
			</div>
		</li>

		<li class="widget-footer">
			<a href="" ui-sref="page.reporting.reports">{{ i18n.core.reporting.viewAll }}</a>
		</li>
	</ul>
</li>