<li class="dropdown light only-icon widget">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<i class="icon-print"></i>
		<div ng-show="reports.count > 0" class="label">{{ reports.count }}</div>
	</a>
	<ul class="dropdown-menu">
		<li>
			<a href="" ng-click="update()" onclick="event.stopPropagation();">
				<div class='widget-body'>
					<div class='pull-left icon'>
						<i ng-class="{'icon-spin': state.updating}" class="icon-refresh"></i>
					</div>
					<div class='pull-left text'>
						Refresh
					</div>
				</div>
			</a>
		</li>
		<li ng-show="state.showRunning" class="divider"></li>
		<li ng-show="state.showRunning" class="text-center">Running reports</li>
		<li ng-show="state.showRunning" ng-repeat="r in reports.running">
			<div class='widget-body'>
				<div class='pull-left icon'>
					<i class="icon-cog" ng-class="{'icon-spin': r.State === 'Running'}"></i>
				</div>
				<div class='pull-left text'>
					{{r.DataGenerationProgress}}% / {{r.ReportGenerationProgress}}%
					{{r.Name}}
					<button type="button" ng-click="cancel(r)" onclick="event.stopPropagation();" class="btn btn-xs btn-danger pull-right">{{ i18n.core.buttons.cancel }}</button>
				</div>
			</div>
		</li>
		<li ng-show="state.showCompleted" class="divider"></li>
		<li ng-show="state.showCompleted" class="text-center">Unread reports</li>
		<li ng-show="state.showCompleted" ng-repeat="r in reports.completed">
			<div class='widget-body' ng-switch="r.State">
				<div class='pull-left icon'>
					<i class='icon-bar-chart' ng-class="{'text-success': r.State === 'Completed', 'text-error': r.State === 'Error', 'text-warning': r.State === 'Canceled'}"></i>
				</div>
				<div class='pull-left text text-success' ng-switch-when="Completed">
					<a target="_blank" href="/download/report/{{r.Id}}">
						{{r.ResultName}}
					</a>
				</div>
				<div class='pull-left text text-warning' ng-switch-when="Canceled" onclick="event.preventDefault()">
					{{r.Name}}
				</div>
				<div class='pull-left text text-error' ng-switch-when="Error">
					{{r.Name}}
				</div>
			</div>
		</li>

		<li class="widget-footer">
			<a href="#!/userReports">View all reports</a>
		</li>
	</ul>
</li>