<div class="container"
		ng-controller="projectTagsCtrl"
		filtered-list="{ method: 'core/dictionary/getProjectTags'}"
		initial-sorters="{ FullName: 'asc' }">

	<div class="row" id="content-wrapper">
		<div class="col-xs-12">

			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-cog"></i>
							<span>{{ i18n.projects.tags.title }}</span>
						</h1>
					</div>
				</div>
			</div>

			<div filters-box="filter" meta="core/dictionary/projectTagMetadata" group="ProjectTags"
				apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter"
				style="padding-top: 5px">
				<form class="form form-horizontal">
					<div class="form-group">
						<label for="names" class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
						<div class="col-md-9">
							<input id="names" ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="form-control" multiple />
						</div>
					</div>
				</form>
			</div>
		

			<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}">
				<ago-box-title>
					<i class="fa icon-cog"></i>
					{{ i18n.projects.tags.title }}
				</ago-box-title>
				
				<ago-box-content>
					<tags-list tags="models" load-tags="loadTags(parentId, deferred)" create-tag="createTag(parentId, name, deferred)"
						update-tag="updateTag(id, name, deferred)" delete-tag="deleteTag(id, deferred)" class="col-md-12"></tags-list>

					<div class="box-toolbox box-toolbox-bottom">
						<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1">{{ i18n.core.buttons.more }}</button>

						<counter action="core/dictionary/getProjectTagsCount"></counter>
					</div>
				</ago-box-content>
				
			</ago-box>

		</div><!-- col-xs-12 -->
	</div><!-- row content-wrapper -->
</div>