<div class="container"
     ng-controller="projectsListCtrl"
     filtered-list="{method: 'core/projects/getProjects'}"
     initial-sorters="{ CreationTime: 'desc' }">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">
			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-table"></i>
							<span>{{ i18n.projects.list.title }}</span>
						</h1>
					</div>
				</div>
			</div>
			<div filters-box="filter" meta="core/projects/projectMetadata" group="Projects"
			        apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter"
			        style="padding-top: 5px">
				<ago-box-content>
					<form class="form form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.projects.list.filters.participation.label }}</label>
							<div class="col-md-9">
								<select ng-model="filter.simple.Participation" class="form-control">
									<option value="All">{{ i18n.projects.list.filters.participation.all }}</option>
									<option value="Participated">{{ i18n.projects.list.filters.participation.me }}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="form-control" multiple />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.projects.fields.status }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Status" filter-node="{path: 'Status', op:'='}"
								       lookup="core/dictionary/lookupProjectStatuses" class="form-control" multiple />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.projects.fields.tags }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Tags" filter-node="{path: 'Tags.Tag', op:'='}"
								       lookup="core/dictionary/lookupProjectTags" class="form-control" multiple />
							</div>
						</div>
					</form>
				</ago-box-content>
			</div>

			<div class="row box">
				<div class="col-lg-12">
					<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}">
						<ago-box-title>
							<i class="fa icon-table"></i>
							{{ i18n.projects.list.title }}
						</ago-box-title>
						<ago-box-content>
							<div class="box-toolbox box-toolbox-top" ng-show="currentUser.admin">
								<a ui-sref="page.projects.projectCreate" class="btn btn-primary">
									<i class="icon-plus icon-white"></i>
									<span>{{ i18n.core.buttons.new }}</span>
								</a>
							</div>

							<div masonry>
								<div ng-repeat="viewModel in models" class="projectBox masonry-brick col-xs-12 col-md-6 col-lg-6">
									<div class="box-content clearfix">
										<a ui-sref="page.project({ project: viewModel.Model.ProjectCode })" target="_blank">
											<div class="projectIcon">&nbsp;</div>
											<div class="projectInfo">
												<h3 class="title">{{ viewModel.Model.Name }}</h3>
												<small>{{ viewModel.Model.Description }}</small>
											</div>
										</a>
										<div class="statusBox">
											<span class="label label-warning">{{ viewModel.Model.Status }}</span>
										</div>
										<div class="tagsBox">
											<span ng-repeat="t in viewModel.Tags" class="tag">
												{{ t.text }}
												<a ng-click="detag(viewModel, t)" href="" title="{{ i18n.core.tags.removeTag }}">&nbsp;&times;</a>
											</span>
											<span ng-show="!viewModel.newTagMode" class="newTagBtn">
												<button ng-click="newTag(viewModel);" title="{{ i18n.core.tags.addTag }}" type="button" class="btn btn-success btn-sm">
													<i class="icon-plus"></i>
												</button>
											</span>
											<span ng-show="viewModel.newTagMode" class="newTagLookup">
												<input type="text" lookup="core/dictionary/lookupProjectTags" ng-model="viewModel.newTagModel"
												       placeholder="{{ i18n.tasks.create.placeholders.tags }}" style="width: 200px;"
												       ng-change="newTagSelected(viewModel);" autofocus />
											</span>
											<span ng-show="viewModel.newTagMode" class="cancelNewTagBtn">
												<button ng-click="cancelNewTag(viewModel);" title="{{ i18n.core.buttons.cancel }}" type="button" class="btn btn-warning btn-sm">x</button>
											</span>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>

							<div class="box-toolbox box-toolbox-bottom">
								<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1">{{ i18n.core.buttons.more }}</button>

								<counter action="core/projects/getProjectsCount"></counter>
							</div>
						</ago-box-content>
					</ago-box>
				</div>
			</div>
		</div>
	</div>
</div>