<div>
	<span ng-repeat="h in model.History | filter:isClosedRecord" class="status-prev">
		{{ h.Status }}
	</span>
	<span class="status-curr">
		{{ model.Current }}
	</span>
	<a class="status-next" ng-repeat="n in model.Next" ng-click="changeStatus(n)">{{ n.text }}</a>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>{{ 'tasks.view.statusHistory.fields.status' | i18n }}</th>
				<th>{{ 'tasks.view.statusHistory.fields.author' | i18n }}</th>
				<th>{{ 'tasks.view.statusHistory.fields.effectivePeriod' | i18n }}</th>
				<th>{{ 'tasks.view.statusHistory.fields.duration' | i18n }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="h in model.History">
				<td>
					<strong>{{ h.Status }}</strong>
				</td>
				<td>{{ h.Author }}</td>
				<td>
					с {{ h.Start | date:'dd.MM.yyyy hh:mm' }} 
					по {{ (h.Finish | date:'dd.MM.yyyy hh:mm') || ('core.labels.presentTime' | i18n) }}
				</td>
				<td>
					{{ duration(h) | date:'dd.MM.yyyy hh:mm' }}
				</td>
			</tr>
		</tbody>
	</table>
</div>