<div class="container-fluid" ng-controller="taskListCtrl" filtered-list="{method: 'tasks/tasks/getTasks'}">
	<div class="row-fluid">
<!-- data-offset-top="50" -->
		<div class="span3">
			<div fix-height affix style="overflow: auto">
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Комбинированный</label>
							<select ng-model="customFilter.selected" ng-options="f.text for f in customFilter.predefined" ng-change="constructCombinedFilter()" class="span12">
							</select>
							<label>Статус</label>
							<input filter-lookup="{path: 'Status', op: '='}" action="/api/tasks/dictionary/lookupTaskStatuses" filter-ng-model="filter.simple.Status">
							<label>Пользовательский статус</label>
							<input filter-lookup="{path: 'CustomStatus', op: '='}" action="/api/tasks/dictionary/lookupCustomStatuses" filter-ng-model="filter.simple.CustomStatus">
							<label>Номер задачи</label>
							<input filter-lookup="{path: 'Id', op: '='}" action="/api/tasks/tasks/lookupTasks" filter-ng-model="filter.simple.SeqNumber">
							<label>Тип задачи</label>
							<input filter-lookup="{path: 'TaskType', op: '='}" action="/api/tasks/dictionary/lookupTaskTypes" filter-ng-model="filter.simple.TaskType">
							<label>Срок</label>
							<input type="text" ng-model="customFilter.lDate" ui-date="{dateFormat: 'dd.mm.yy', changeMonth: true, changeYear: true}" ng-change="constructDueDateFilter()" class="span5" /> - <input type="text" ng-model="customFilter.rDate" ui-date="{dateFormat: 'dd.mm.yy', changeMonth: true, changeYear: true}" ng-change="constructDueDateFilter()" class="span5" />
							<label>Исполнители</label>
							<input filter-lookup="{path: 'Executors.Executor.Id', op: '='}" action="/api/home/projects/lookupParticipant" filter-ng-model="filter.simple.Executors">
							<label>Содержание</label>
							<input filter-input="{path: 'Content', op:'like'}" filter-ng-model="filter.simple.Content" />
						</fieldset>
					</form>
				</tab>

				<tab heading="Props">
					<div user-filter filter-ng-model="filter.user"></div>
				</tab>

				<tab heading="Complex">
					<div structured-filter filter-ng-model="filter.complex" meta="'tasks/tasks/taskMetadata'">
					</div>
				</tab>

				<tab heading="Favorites">
					<div filter-persister group="'Tasks.Task'" filter="filter"></div>
				</tab>
			</tabset>
			</div>
		</div><!-- sidebar -->

		<div class="span9">
			<div class="alert alert-error span12" ng-show="validation.generalErrors">
				{{ validation.generalErrors }}
			</div>

			<div>
				<a href="#!/tasks/new">Создать задачу...</a>
				<button type="button" class="btn pull-right" ng-click="deleteSelected()" ng-disabled="!hasSelected()" title="Удалить отмеченные задачи">Удалить</button>
			</div>

			<table class="table table-bordered sortable"
					infinite-scroll='paging.page = paging.page + 1'
					infinite-scroll-disabled='indication.loading || applyEnabled'
					infinite-scroll-distance='1'>
				<thead>
					<tr>
						<th class="onepct">
							<input type="checkbox" checker="items: 'models'">
						</th>
						<th data-sortproperty="InternalSeqNumber" data-defaultsort="desc" style="width: 5%">№</th>
						<th data-sortproperty="TaskType.Name">Тип</th>
						<th style="width: 20%">Исполнители</th>
						<th data-sortproperty="DueDate" style="width: 10%">Срок</th>
						<th data-sortproperty="Status" style="width: 10%">Статус</th>
						<th data-sortproperty="CustomStatus.Name" style="width: 15%">Пользовательский статус</th>
						<th class="onepct">&nbsp;</th>
					</tr>
				</thead>
				<!-- TODO waiting for new angular version
				http://stackoverflow.com/questions/16900050/angular-js-ng-repeat-across-multiple-elements -->
				<tbody ng-repeat="model in models">
					<tr ng-click="toggleDetails(model)">
						<td>
							<input type="checkbox" ng-model="model.selected" data-itemid="{{ model.Id }}">
						</td>
						<td>
							<a href="#!/tasks/{{model.SeqNumber}}" style="white-space: nowrap">
								{{ model.SeqNumber }}
							</a>
						</td>
						<td>
							{{ model.TaskType }}
							<p ng-show="model.Content" title="{{ model.Content }}">
								<small class="clip-content">{{ model.Content | textCut:50 }}</small>
							</p>
						</td>
						<td>
							<executors model="model.Executors" />
						</td>
						<td>{{ model.DueDate | date:'dd.MM.yyyy' }}</td>
						<td>{{ model.Status }}</td>
						<td>{{ model.CustomStatus }}</td>
						<td>
							<button type="button" class="close" title="Удалить задачу" ng-click="delete(model)">&times;</button>
						</td>
					</tr>
					<tr ng-show="model.details.expanded" ng-init="model.details.loaded = false">
						<td colspan="8">
							<div ng-hide="model.details.loaded">Загрузка данных...</div>
							<div ng-show="model.details.loaded">
								<table class="table table-bordered">
									<tr>
										<td>Приоритет</td>
										<td>{{ model.details.Priority }}</td>
									</tr>
									<tr>
										<td>Содержание</td>
										<td>
											<pre>{{ model.details.Content }}</pre>
										</td>
									</tr>
									<tr>
										<td>Примечание</td>
										<td>{{ model.details.Note }}</td>
									</tr>
									<tr>
										<td>Согласования</td>
										<td>
											<span ng-repeat="a in model.details.Agreements">
												<i ng-class="{'icon-check': a.Done, 'icon-check-empty': !a.Done}"></i>{{ a.Agreemer }}
											</span>&nbsp; &nbsp;
										</td>
									</tr>
									<tr>
										<td>Файлы (топ 5)</td>
										<td>
											<a href="/services/download/file/{{f}}" target="_blank" ng-repeat="f in model.details.Files">
												<i class="icon-paper-clip"></i>{{ f }}
											</a>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-show="indication.loading" us-spinner="{top:100}"></div>
		</div><!-- content -->

	</div><!-- row -->
</div><!-- container -->