<div class="container-fluid" ng-controller="taskListCtrl" filtered-list="{method: 'tasks/tasks/getTasks'}">
	<div class="row-fluid">

		<div class="span3">
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Статус</label>
							<input filter-lookup="{path: 'Status', op: '='}" action="/api/tasks/dictionary/lookupTaskStatuses" filter-ng-model="filter.simple.Status">
							<label>Пользовательский статус</label>
							<input filter-lookup="{path: 'CustomStatus', op: '='}" action="/api/tasks/dictionary/lookupCustomStatuses" filter-ng-model="filter.simple.CustomStatus">
							<label>Номер задачи</label>
							<input filter-lookup="{path: 'Id', op: '='}" action="/api/tasks/tasks/lookupTasks" filter-ng-model="filter.simple.SeqNumber">
							<label>Тип задачи</label>
							<input filter-lookup="{path: 'TaskType', op: '='}" action="/api/tasks/dictionary/lookupTaskTypes" filter-ng-model="filter.simple.TaskType">
							<label>Срок</label>
							<input value="TODO" />
							<br>
							<input value="TODO" /> - <input value="TODO" />
							<label>Исполнители</label>
							<input value="TODO" />
							<label>Содержание</label>
							<input filter-input="{path: 'Content', op:'like'}" filter-ng-model="filter.simple.Name" />
						</fieldset>
					</form>
				</tab>

				<tab heading="Props">
					<div user-filter filter-ng-model="filter.user"></div>
				</tab>

				<tab heading="Complex">
					<div structured-filter filter-ng-model="filter.complex" meta="'tasks/tasks/taskMetadata'">
					</div>
				</tab>

				<tab heading="Favorites">
					<div filter-persister group="'Tasks.Task'" filter="filter"></div>
				</tab>
			</tabset>
		</div><!-- sidebar -->

		<div class="span9">
			<div ng-show="loading.active()" us-spinner="{top:100}"></div>

			<div class="alert alert-error span12" ng-show="validation.generalErrors">
				{{ validation.generalErrors }}
			</div>

			<div>
				<a href="#!/tasks/new">Создать задачу...</a>
				<button type="button" class="btn pull-right" ng-click="deleteSelected()" ng-disabled="!hasSelected()" title="Удалить отмеченные задачи">Удалить</button>
			</div>

			<table class="table table-bordered sortable">
				<thead>
					<tr>
						<th class="onepct">
							<input type="checkbox" checker="items: 'models'">
						</th>
						<th data-sortproperty="InternalSeqNumber" data-defaultsort="desc" style="width: 5%">№</th>
						<th data-sortproperty="TaskType.Name">Тип</th>
						<th style="width: 20%">Исполнители</th>
						<th data-sortproperty="DueDate" style="width: 10%">Срок</th>
						<th data-sortproperty="Status" style="width: 10%">Статус</th>
						<th data-sortproperty="CustomStatus.Name" style="width: 15%">Пользовательский статус</th>
						<th class="onepct">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td>
							<input type="checkbox" ng-model="model.selected" data-itemid="{{ model.Id }}">
						</td>
						<td>
							<a href="#!/tasks/{{model.SeqNumber}}">
								{{ model.SeqNumber }}
							</a>
						</td>
						<td>
							{{ model.TaskType }}
							<p ng-show="model.Content" title="{{ model.Content }}">
								<small class="clip-content">{{ model.Content | textCut:50 }}</small>
							</p>
						</td>
						<td>
							<executors model="model.Executors" />
						</td>
						<td>{{ model.DueDate | date:'dd.MM.yyyy' }}</td>
						<td>{{ model.Status }}</td>
						<td>{{ model.CustomStatus }}</td>
						<td>
							<button type="button" class="close" title="Удалить задачу" ng-click="delete(model)">&times;</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- content -->

	</div><!-- row -->
</div><!-- container -->