<div class="container"
	ng-controller="reportsController"
	filtered-list="{method: 'core/reporting/getReports'}"
	initial-sorters="{ CreationTime: 'desc'}">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">
			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-file-alt"></i>
							<span>{{ i18n.core.reporting.reports.title }}</span>
						</h1>
					</div>
				</div>
			</div>

			<div filters-box="filter" meta="core/reporting/reportTaskMetadata" group="Reporting.Reports" apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter" style="padding-top: 5px">
				<ago-box-content>
					<form class="form form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="form-control" />
							</div>
						</div>
					</form>
				</ago-box-content>
			</div>

			<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}">
				<ago-box-title>
					<i class="fa icon-bar-chart"></i>
					{{ i18n.core.reporting.reports.title }}
				</ago-box-title>
				<ago-box-content>
					<div class="box-toolbox box-toolbox-top">
						<ago-error-msg></ago-error-msg>
					</div>

					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-bordered">
								<thead>
									<tr>
										<td><span sortable-heading="sorters.Name" caption="{{ i18n.core.fields.name }}"></span></td>
										<td><span sortable-heading="sorters.State" caption="{{ i18n.core.reporting.reports.fields.state }}"></span></td>
										<td><span sortable-heading="sorters.CreationTime" caption="{{ i18n.core.fields.creationTime }}"></span></td>
										<td>{{ i18n.core.reporting.reports.fields.progress }}</td>
										<td>&nbsp;</td>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat-start="m in models">
										<td ng-switch="m.State">
											<a href="" class="btn btn-primary btn-sm" data-toggle="button" ng-click="m.expanded = !m.expanded">
												<i class="fa" ng-class="{ 'icon-chevron-up': m.expanded, 'icon-chevron-down': !m.expanded }"></i>
											</a>

											<div ago-report-link report="m" style="display: inline-block"></div>

											<button type="button" ng-show="m.State == 'NotStarted' || m.State == 'Running'" ng-click="cancel(m)" class="btn btn-sm btn-danger pull-right" style="margin-left: 5px">{{ i18n.core.buttons.cancel }}</button>
											<a class="btn btn-sm btn-primary pull-right" ng-show="m.State == 'NotStarted'" onclick="event.stopPropagation();" title="{{ i18n.core.reporting.position }}">{{ positions[m.Id] || '?' }}</a>
										</td>
										<td>{{ m.StateName }}</td>
										<td>{{ m.CreationTime | date:'ago_datetime' }}</td>
										<td>{{ m.DataGenerationProgress }}% / {{ m.ReportGenerationProgress }}%</td>
										<td>
											<ago-btn-delete title="{{ i18n.core.buttons.delete }}" ng-click="delete(m)"></ago-btn-delete>
										</td>
									</tr>
									<tr ng-repeat-end ng-show="m.expanded" ng-init="m.expanded = false">
										<td colspan="5">
											<table class="table table-bordered">
												<tr>
													<td>{{ i18n.core.fields.creator }}</td>
													<td>{{ m.Author }}</td>
												</tr>
												<tr>
													<td>{{ i18n.core.reporting.reports.fields.startedAt }}</td>
													<td>{{ m.StartedAt | date:'ago_datelongtime' }}</td>
												</tr>
												<tr>
													<td>{{ i18n.core.reporting.reports.fields.completedAt }}</td>
													<td>{{ m.CompletedAt | date:'ago_datelongtime' }}</td>
												</tr>
												<tr>
													<td>{{ i18n.core.reporting.reports.fields.duration }}</td>
													<td>{{ duration(m) }}</td>
												</tr>
												<tr ng-show="m.ErrorMsg" class="text-error">
													<td>{{ i18n.core.reporting.reports.fields.errorMsg }}</td>
													<td>{{ m.ErrorMsg }}</td>
												</tr>
												<tr ng-show="m.ErrorDetails" class="text-error">
													<td>{{ i18n.core.reporting.reports.fields.errorDetails }}</td>
													<td>{{ m.ErrorDetails }}</td>
												</tr>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="box-toolbox box-toolbox-bottom">
						<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1">{{ i18n.core.buttons.more }}</button>

						<counter action="core/reporting/getReportsCount"></counter>
					</div>
				</ago-box-content>
			</ago-box>
		</div>
	</div>
</div>
