<div class="container"
	ng-controller="reportsController"
	filtered-list="{method: 'core/reporting/getArchivedReports'}"
	initial-sorters="{ CreationTime: 'desc'}">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">
			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-file-alt"></i>
							<span>{{ i18n.core.reporting.reports.title }}</span>
						</h1>
					</div>
				</div>
			</div>

			<div filters-box="filter" sorters="sorters" meta="core/reporting/archivedReportMetadata" group="Reporting.ArchivedReports" apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter" style="padding-top: 5px">
				<ago-box-content>
					<form class="form form-horizontal">
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.reporting.reports.fields.completedAt }}</label>
							<div class="col-md-9">
								<div class="col-xs-5" style="padding-left: 0; padding-right: 0">
									<input type="text" ng-model="filter.simple.lDate" bs-datepicker filter-node="{path: 'CreationTime', op: '>='}" class="form-control" />
								</div>
								<span class="col-xs-1" style="padding: 0; text-align: center">-</span>
								<div class="col-xs-5" style="padding-left: 0; padding-right: 0">
									<input type="text" ng-model="filter.simple.rDate" bs-datepicker filter-node="{path: 'CreationTime', op: '<'}" class="form-control" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.reporting.reports.fields.type }}</label>
							<div class="col-md-9">
								<input ng-model="filter.simple.SettingsName" filter-node="{path: 'SettingsName', op:'like'}" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.reporting.reports.fields.project }}</label>
							<div class="col-md-9">
								<input lookup="core/projects/lookupProjects" ng-model="filter.simple.Project" filter-node="{path: 'ProjectCode', op: '='}" class="form-control" multiple />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">{{ i18n.core.fields.type }}</label>
							<div class="col-md-9">
								<input lookup="core/dictionary/lookupProjectTypesByName" ng-model="filter.simple.ProjectType" filter-node="{path: 'ProjectType', op: '='}" class="form-control" multiple />
							</div>
						</div>
					</form>
				</ago-box-content>
			</div>

			<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}">
				<ago-box-title>
					<i class="fa icon-bar-chart"></i>
					{{ i18n.core.reporting.reports.title }}
				</ago-box-title>
				<ago-box-content>
					<ago-error-msg></ago-error-msg>

					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="col-xs-12 col-sm-6 col-md-6">{{ i18n.core.fields.name }}</th>
										<th class="col-sm-3 col-md-2 hidden-xs">{{ i18n.core.reporting.reports.fields.project }}</th>
										<th class="col-sm-3 col-md-2 hidden-xs">{{ i18n.core.reporting.reports.fields.type }}</th>
										<th class="col-md-2 hidden-sm hidden-xs">{{ i18n.core.fields.creationTime }}</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="m in models">
										<td class="col-xs-12 col-sm-6 col-md-6" style="white-space: normal">
											<a ng-href="{{ downloadUrl(m) }}" target="_blank">{{ m.Name }}</a>
											<small class="visible-xs text-muted">
												{{ m.ProjectName }}, 
												{{ m.SettingsName }}, 
												{{ m.CreationTime | date:'ago_datetime' }}
											</small>
										</td>
										<td class="col-sm-3 col-md-2 hidden-xs" style="white-space: normal">
											{{ m.ProjectName }}
											<small class="text-muted">{{ m.ProjectCode }}</small>
										</td>
										<td class="col-sm-3 col-md-2 hidden-xs" style="white-space: normal">
											{{ m.SettingsName }}
										</td>
										<td class="col-md-2 hidden-sm hidden-xs" style="white-space: normal">
											{{ m.CreationTime | date:'ago_datetime' }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="box-toolbox box-toolbox-bottom">
						<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1">{{ i18n.core.buttons.more }}</button>

						<counter action="core/reporting/getArchivedReportsCount"></counter>
					</div>
				</ago-box-content>
			</ago-box>
		</div>
	</div>
</div>
