<!-- <container> -->
<div class="container-fluid" ng-controller="taskTypeCtrl"
        filtered-list="{method: 'tasks/dictionary/getTaskTypes'}"
        initial-sorters="{ Name: 'asc' }">
	<div class="row-fluid">
		<!-- <twocolumn-side> -->
		<div class="span3">
			<div filtered-list-actions></div>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Наименование</label>
							<input type="text" ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}" class="span12" />
						</fieldset>
					</form>
				</tab>

				<tab heading="Complex">
					<div structured-filter filter-ng-model="filter.complex" meta="'tasks/dictionary/taskTypeMetadata'">
					</div>
				</tab>

				<tab heading="Favorites">
					<div filter-persister group="'Tasks.TaskType'" filter="filter"></div>
				</tab>
			</tabset>
		</div>
		<!-- </twocolumn-side> -->

		<!-- <twocolumn-content> -->
		<div class="span9">
			<div class="alert alert-error span12" ng-show="validation.generalErrors">
				{{ validation.generalErrors | joinBy }}
			</div>
			<form name="createTaskTypeForm" novalidate>
				<fieldset>
					<div style="display: inline-block">
						<div class="input-append">
							<input type="text" ng-model="editModel.name" placeholder="Наименование типа задачи" required />
							<button type="button" class="btn" ng-click="createTaskType()" ng-disabled="createTaskTypeForm.$invalid">Добавить</button>
						</div>
						<span ng-show="validation.fieldErrors['Name']" class="help-block alert-error">
							{{ validation.fieldErrors['Name'] | joinBy }}
						</span>
					</div>
					
					<div class="span6 pull-right">
						<button type="button" class="btn" ng-click="deleteSelected()" ng-disabled="!hasSelected()">Удалить</button>
						<input type="text" lookup="tasks/dictionary/lookupTaskTypes" lookup-options="{allowClear: true}" ng-model="deleteModel.replacementType" placeholder="Тип для замены удаляемых (опционально)" style="width: 80%"/>
					</div>
				</fieldset>
			</form>

			<table class="table table-bordered"
					infinite-scroll="paging.page = paging.page + 1"
					infinite-scroll-disabled="applyEnabled"
					infinite-scroll-distance="1">
				<thead>
					<tr>
						<th class="onepct">
							<input type="checkbox" checker="items: 'models'">
						</th>
						<th><span sortable-heading="sorters.Name" caption="Наименование"></span></th>
						<th style="width: 15%"><span sortable-heading="sorters.Creator_FIO" caption="Автор"></span></th>
						<th style="width: 20%"><span sortable-heading="sorters.CreationTime" caption="Дата создания"></span></th>
						<th class="onepct">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td>
							<input type="checkbox" ng-model="model.selected" data-itemid="{{ model.Id }}">
						</td>
						<td>
							<div>
								<inline-text model="model.Name" on-update="onUpdate(model, val)" on-cancel="onCancel(model, val)" input-class="span10" required/>
							</div>
							<span ng-show="model.validation.fieldErrors['Name']" class="help-block alert-error">
								{{ model.validation.fieldErrors['Name'] | joinBy }}
							</span>
						</td>
						<td>{{ model.Author }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
						<td>
							<button type="button" class="close" title="Удалить тип задачи" ng-click="delete(model)">&times;</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div ng-show="indication.loading" us-spinner="{top:100}"></div>
			<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1"
			        ng-disabled="applyEnabled">More</button>
		</div>
		<!-- </twocolumn-content> -->
	</div>
</div>
<!-- </container> -->