<container>
	<!-- request-params="requestParams"
		grid-options="gridOptions" -->
	<div filtered-list="{method: 'tasks/dictionary/getTaskTypes'}">
		<twocolumn-side>
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Наименование</label>
							<input filter-input="{path: 'Name', op:'like'}" filter-ng-model="filter.simple.Name" />
						</fieldset>
					</form>
				</tab>

				<tab heading="Complex">
					<div structured-filter filter-ng-model="filter.complex" meta="'tasks/dictionary/taskTypeMetadata'">
					</div>
				</tab>

				<tab heading="Favorites">
					<div filter-persister group="'Tasks'" filter="filter"></div>
				</tab>
			</tabset>
		</twocolumn-side>

		<twocolumn-content>
			<div ng-show="loading.active()" us-spinner="{top:100}"></div>

			<div class="alert alert-error span12" ng-show="validation.generalError">
				{{ validation.generalError }}
			</div>
			<form name="createTaskTypeForm" novalidate>
				<fieldset>
					<div class="input-append span12">
						<input type="text" ng-model="editModel.name" placeholder="Наименование нового типа задачи" class="span5" required />
						<button type="button" class="btn" ng-click="createTaskType()" ng-disabled="createTaskTypeForm.$invalid">Добавить</button>
					</div>
					<span ng-show="validation.fieldErrors['Name']" class="help-inline">
						{{ validation.fieldErrors['Name'] }}
					</span>
				</fieldset>
			</form>

			<table id="tasks-table" class="table table-bordered sortable">
				<thead>
					<tr>
						<th style="width: 1%">
							<input type="checkbox" onclick="$('input[class=task-checker]', $('#tasks-table')).attr('checked', this.checked )">
						</th>
						<th data-sortproperty="Name" data-defaultsort="asc">Наименование</th>
						<th data-sortproperty="Creator.FIO" style="width: 15%">Автор</th>
						<th data-sortproperty="CreationTime" style="width: 15%">Дата создания</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td>
							<input type="checkbox" data-itemid="{{ model.Id }}" class="task-checker">
						</td>
						<td>{{ model.Name }}</td>
						<td>{{ model.Author }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
			<pagination
					num-pages="gridOptions.numPages"
					current-page="gridOptions.page">
			</pagination>
		</twocolumn-content>
	</div>
	
</container>