<div>
<ago-box color="green" title-click-collapse collapsible="true" large="true" collapsed="historyCollapsed">
	<ago-box-title>
		<i class="icon-table"></i>
		{{ i18n.tasks.view.statusHistory.title }}
	</ago-box-title>
	<ago-box-actions>
		<a class="btn btn-xs btn-link">
			<i class="fa" ng-class="{ 'icon-chevron-up': !historyCollapsed, 'icon-chevron-down': historyCollapsed }"></i>
		</a>
	</ago-box-actions>
	
	<div class="box-toolbox box-toolbox-top">
		<button type="button" class="btn" ng-class="statusColor(n.id)" ng-repeat="n in model.Next" ng-click="changeStatus(n)" style="margin-right: 5px">
			<i ng-class="statusIcon(n.id)"></i>
			{{ n.text }}
		</button>
	</div>

	<div class="responsive-table">
			<div class="scrollable-area">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-xs-12 col-sm-3">{{ i18n.tasks.view.statusHistory.fields.status }}</th>
							<th class="col-sm-3 hidden-xs">{{ i18n.tasks.view.statusHistory.fields.author }}</th>
							<th class="col-sm-3 hidden-xs">{{ i18n.tasks.view.statusHistory.fields.effectivePeriod }}</th>
							<th class="col-sm-3 hidden-xs">{{ i18n.tasks.view.statusHistory.fields.duration }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="h in model.History">
							<td class="col-xs-12 col-sm-3" style="white-space: normal">
								<button type="button" class="btn disabled" ng-class="statusColor(h.Status.id)">
									<i ng-class="statusIcon(h.Status.id)"></i>
									{{ h.Status.text }}
								</button>
								<small class="visible-xs text-muted">
									{{ h.Author }}, 
									{{ 
										i18n.msg('tasks.view.statusHistory.period', {
												start: (h.Start | date:'ago_datetime'), 
												finish: ((h.Finish | date:'ago_datetime') || i18n.core.labels.presentTime) 
											}) 
									}}, {{ duration(h) | date:'ago_datetime' }}
								</small>
							</td>
							<td class="col-sm-3 hidden-xs">{{ h.Author }}</td>
							<td class="col-sm-3 hidden-xs" style="white-space: normal">
								{{ 
									i18n.msg('tasks.view.statusHistory.period', {
											start: (h.Start | date:'ago_datetime'), 
											finish: ((h.Finish | date:'ago_datetime') || i18n.core.labels.presentTime) 
										}) 
								}}
							</td>
							<td class="col-sm-3 hidden-xs" style="white-space: normal">
								{{ duration(h) | date:'ago_datetime' }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</ago-box>
</div>