<div class="container" 
		ng-controller="projectStatusesCtrl"
		filtered-list="{ method: 'home/dictionary/getProjectStatuses'}"
		initial-sorters="{ Name: 'asc' }">

	<div class="row" id="content-wrapper">
		<div class="col-xs-12">
			<div filters-box="filter" meta="home/dictionary/projectStatusMetadata" group="ProjectStatuses"
				apply-enabled="applyEnabled" apply-filter="applyFilter" reset-filter="resetFilter">
				<form class="form form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">{{ i18n.core.fields.name }}</label>
						<div class="col-md-9">
							<input type="text" ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}"  class="form-control" />
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="box">
				<div class="box-header purple-background">
					<div class="title">{{ i18n.projects.statuses.title }}</div>
					<div class="actions">
						<a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
					</div>
				</div>
				<div class="box-content">
					<div class="box-toolbox box-toolbox-top" ng-show="currentUser.admin">
						<ago-error-msg></ago-error-msg>

						<form name="createItemForm" class="form-inline" novalidate>
							<div class="col-sm-6" ng-class="{'has-error': (createItemForm.$invalid || validation.fieldErrors['Name'] || validation.fieldErrors['Description'])}">
								<div class="row">
									<div class="col-md-3" style="padding-left: 0;">
										<input type="text" name="Name" ng-model="editModel.Name" class="form-control"
										       placeholder="{{ i18n.core.fields.name }}"
										       ng-required="editModel.focused" ng-focus="editModel.focused=true" ng-blur="editModel.focused=false" />
									</div>
									<div class="col-md-5" style="padding-left: 0;">
										<input type="text" name="Description" ng-model="editModel.Description" class="form-control"
										       placeholder="{{ i18n.core.fields.description }}"
										       ng-focus="editModel.focused=true" ng-blur="editModel.focused=false" />
									</div>
									<div class="col-md-3 btn-group" style="padding-left: 0;">
										<button type="button" class="btn" ng-click="createItem()" ng-disabled="!createEnabled()">{{ i18n.core.buttons.add }}</button>
										<button type="button" class="btn" ng-click="dropChanges()" title="{{ i18n.core.buttons.clear }}">&times;</button>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<span ng-show="validation.fieldErrors['Name']" class="help-block has-error">
											{{ validation.fieldErrors['Name'] | joinBy }}
										</span>
										<span ng-show="validation.fieldErrors['Description']" class="help-block has-error">
											{{ validation.fieldErrors['Description'] | joinBy }}
										</span>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="row">
									<div class="col-md-3">
										<button type="button" class="btn btn-danger pull-right" ng-click="deleteSelected()" ng-disabled="!hasSelected()">{{ i18n.core.buttons.deleteSelected }}</button>
									</div>
									<div class="col-md-9" style="padding-left: 0;">
										<input type="text" lookup="home/dictionary/lookupProjectStatuses" lookup-options="{allowClear: true}" ng-model="deleteModel.replacementItem"
										       placeholder="{{ i18n.core.placeholders.replacementItem }}" class="form-control" />
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-bordered"
							       infinite-scroll="paging.page = paging.page + 1"
							       infinite-scroll-disabled="applyEnabled"
							       infinite-scroll-distance="1">
								<thead>
									<tr>
										<th style="width: 1%" ng-show="currentUser.admin">
											<input type="checkbox" checker="items: 'models'">
										</th>
										<th><span sortable-heading="sorters.Name" caption="{{ i18n.core.fields.name }}"></span></th>
										<th style="width: 30%"><span sortable-heading="sorters.Description" caption="{{ i18n.core.fields.description }}"></span></th>
										<th style="width: 15%"><span sortable-heading="sorters.Creator_FIO" caption="{{ i18n.core.fields.creator }}"></span></th>
										<th style="width: 15%"><span sortable-heading="sorters.CreationTime" caption="{{ i18n.core.fields.creationTime }}"></span></th>
										<th style="width: 1%" ng-show="currentUser.admin">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="model in models">
										<td ng-show="currentUser.admin">
											<input type="checkbox" ng-model="model.selected" data-itemid="{{ model.Id }}">
										</td>
										<td>
											<inline-text model="model.Name" on-update="onUpdateProp(model, 'Name', val)" 
											             on-cancel="onCancel(model)" input-col="col-xs-12" required></inline-text>
											<span ng-show="model.validation.fieldErrors['Name']"
											      class="help-block has-error">
												{{ model.validation.fieldErrors['Name'] | joinBy }}
											</span>
										</td>
										<td>
											<inline-text model="model.Description" on-update="onUpdateProp(model, 'Description', val)" on-cancel="onCancel(model)" input-col="col-xs-12"></inline-text>
											<span ng-show="model.validation.fieldErrors['Description']"
											      class="help-block has-error">
												{{ model.validation.fieldErrors['Description'] | joinBy }}
											</span>
										</td>
										<td>{{ model.Author }}</td>
										<td>{{ model.CreationTime | date:'ago_datetime' }}</td>
										<td ng-show="currentUser.admin">
											<ago-btn-delete title="{{ i18n.core.buttons.delete }}" ng-click="deleteItem(model)"></ago-btn-delete>
										</td>
									</tr>
								</tbody>
							</table>
							<div ng-show="indication.loading" us-spinner="{top:100}"></div>
			    		</div>
					</div>
					<div class="box-toolbox box-toolbox-bottom">
						<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1" ng-disabled="applyEnabled">{{ i18n.core.buttons.more }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>