<div class="container" ng-controller="taskViewCtrl">
	<div class="row" id="content-wrapper">
		<div class="col-xs-12">

			<div class="row">
				<div class="col-xs-12">
					<tas-tabs current-tab="overview" task-num="model.SeqNumber"></tas-tabs>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<ago-error-msg></ago-error-msg>

					<div class="box ">
						<div class="box-header purple-background">
							<div class="title">
								<i class="icon-table"></i>
								{{ i18n.tasks.view.general.title }}
							</div>
							<div class="actions">
								<a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
							</div>
						</div>

						<div class="box-content">
							<form class="form form-horizontal" novalidate>
								<div class="form-group">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.seqNumber }}</label>
									<div class="col-md-10"><p class="form-control-static">{{ model.SeqNumber }}</p></div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['TaskType']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.type }}</label>
									<div class="col-md-10">
										<inline-lookup model="model.TaskType" on-update="onUpdateProp(model, 'TaskType', val)" on-cancel="resetValidation()" input-lookup="tasks/dictionary/lookupTaskTypes" input-col="col-md-6" required></inline-lookup>
										<span ng-show="validation.fieldErrors['TaskType']" class="help-block has-error">
											{{ validation.fieldErrors['TaskType'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['Executors']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.executors }}</label>
									<div class="col-md-10">
										<inline-lookup model="model.Executors" on-update="onUpdateProp(model, 'Executors', val)" on-cancel="resetValidation()" input-lookup="home/projects/lookupParticipant" input-col="col-md-10" multiple required>
											<executors model="model.Executors"></executors>
										</inline-lookup>
										<span ng-show="validation.fieldErrors['Executors']" class="help-block has-error">
											{{ validation.fieldErrors['Executors'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['Content']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.content }}</label>
									<div class="col-md-10">
										<inline-text-area model="model.Content" on-update="onUpdateProp(model, 'Content', val)" on-cancel="resetValidation()" pre-class="col-md-10 form-control-static" input-col="col-md-10" input-rows="3"></inline-text-area>
										<span ng-show="validation.fieldErrors['Content']" class="help-block has-error">
											{{ validation.fieldErrors['Content'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['DueDate']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.dueDate }}</label>
									<div class="col-md-10">
										<inline-date model="model.DueDate" on-update="onUpdateProp(model, 'DueDate', val)" on-cancel="resetValidation()" input-col="col-xs-5"></inline-date>
										<span ng-show="validation.fieldErrors['DueDate']" class="help-block has-error">
											{{ validation.fieldErrors['DueDate'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['Status']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.status }}</label>
									<div class="col-md-10">
										<inline-lookup model="model.Status" on-update="onUpdateProp(model, 'Status', val)" on-cancel="resetValidation()" input-lookup="tasks/dictionary/lookupTaskStatuses" input-col="col-md-6" required></inline-lookup>
										<span ng-show="validation.fieldErrors['Status']" class="help-block has-error">
											{{ validation.fieldErrors['Status'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['CustomStatus']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.customStatus }}</label>
									<div class="col-md-10">
										<inline-lookup model="model.CustomStatus" on-update="onUpdateProp(model, 'CustomStatus', val)" on-cancel="resetValidation()" input-lookup="tasks/dictionary/lookupCustomStatuses" input-col="col-md-6"></inline-lookup>
										<span ng-show="validation.fieldErrors['CustomStatus']" class="help-block has-error">
											{{ validation.fieldErrors['CustomStatus'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group" ng-class="{'has-error': validation.fieldErrors['Priority']}">
									<label class="col-md-2 control-label">{{ i18n.tasks.fields.priority }}</label>
									<div class="col-md-10">
										<inline-lookup model="model.Priority" on-update="onUpdateProp(model, 'Priority', val)" on-cancel="resetValidation()" input-lookup="tasks/dictionary/lookupTaskPriorities" input-col="col-md-6" required></inline-lookup>
										<span ng-show="validation.fieldErrors['Priority']" class="help-block has-error">
											{{ validation.fieldErrors['Priority'] | joinBy }}
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">{{ i18n.core.fields.creator }}</label>
									<div class="col-md-10"><p class="form-control-static">{{ model.Author }}</p></div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">{{ i18n.core.fields.creationTime }}</label>
									<div class="col-md-10"><p class="form-control-static">{{ model.CreationTime | date:'ago_datetime' }}</p></div>
								</div>
							</form>
						</div><!-- box-content -->
					</div><!-- box general -->

					<div class="box ">
						<div class="box-header orange-background">
							<div class="title">
								<i class="icon-table"></i>
								{{ i18n.tasks.view.params.title }}
							</div>
							<div class="actions">
								<a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
							</div>
						</div>

						<div class="box-content">
							<custom-properties model="model.Parameters"></custom-properties>
						</div>
					</div>

					<div class="box ">
						<div class="box-header blue-background">
							<div class="title">
								<i class="icon-table"></i>
								{{ i18n.tasks.view.agreements.title }}
							</div>
							<div class="actions">
								<a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
							</div>
						</div>

						<div class="box-content">
							<agreements model="model"></agreements>
						</div>
					</div>

					<status-history model="model.StatusHistory" change="changeStatus"></status-history>

					<!-- Disabled via #1461 -->
					<!-- <div class="box ">
						<div class="box-header purple-background">
							<div class="title">
								<i class="icon-table"></i>
								{{ i18n.tasks.view.customStatusHistory.title }}
							</div>
							<div class="actions">
							<a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
						</div>
						</div>

						<div class="box-content">
							<status-history model="model.CustomStatusHistory" change="changeCustomStatus"></status-history>
						</div>
					</div> -->

				</div><!-- col-xs-12 -->
			</div><!-- row -->

		</div><!-- col-xs-12 -->
	</div><!-- row content-wrapper -->
</div><!-- container -->