<ul class="nav nav-tabs navbar navbar-fixed-top opaque" style="top: 46px; padding-top: 4px; z-index: 1020">
  <li ng-class="{active: tab == 'overview' }">
    <a href="#!/tasks/{{ num }}">{{ 'tasks.view.tabs.overview' | i18n }}</a>
  </li>
  <li ng-class="{active: tab == 'comments'}">
  	<a href="#!/tasks/{{ num }}/comments">{{ 'tasks.view.tabs.comments' | i18n }}</a>
  </li>
  <li ng-class="{active: tab == 'files'}">
  	<a href="#!/tasks/{{ num }}/files">{{ 'tasks.view.tabs.files' | i18n }}</a>
  </li>
</ul>