<div class="container-fluid" ng-controller="taskViewCtrl">
	<div class="row-fluid">
		<div class="span12">
			<task-tabs current-tab="overview" task-num="model.SeqNumber" />
		</div>
	</div>
	<div class="row-fluid">
		<div class="span3">
			<div id="sideBarMenu" class="well" affix scrollspy="#sideBarMenu">
				<ul class="nav nav-list">
					<li>
						<a href="#general">
							Общие&nbsp;свойства
						</a>
					</li>
					<li>
						<a href="#agreements">
							Согласования
						</a>
					</li>
					<li>
						<a href="#statusHistory">
							История&nbsp;статуса
						</a>
					</li>
					<li>
						<a href="#customStatusHistory">
							История&nbsp;пользовательского статуса
						</a>
					</li>
					<li>
						<a href="#params">
							Пользовательские&nbsp;свойства
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="span9">
			<div class="alert alert-error span12" ng-show="validation.generalErrors">
				{{ validation.generalErrors }}
			</div>

			<section id="general">
				<h3>Общие свойства</h3>
				<table class="table">
					<tr>
						<td class="span3">Номер п/п</td>
						<td>{{ model.SeqNumber }}</td>
					</tr>
					<tr>
						<td>Тип</td>
						<td inline-edit="model.TaskType" on-update="onUpdateProp(model, 'TaskType', val)">
							<span ng-hide="editMode" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
								<span ng-hide="editMode" ng-dblclick="edit()">{{ model.TaskType.text }}</span>
								<button type="button" class="btn btn-mini" ng-show="showEdit" ng-click="edit()">
									<i class="icon-pencil"></i>
								</button>
	    					</span>
							<form name="editTaskTypeForm" ng-show="editMode" style="width: 100%" novalidate>
								<input type="text" name="taskType" lookup="tasks/dictionary/lookupTaskTypes" ng-model="emodel.value" placeholder="Выберите тип задачи" required class="span10" />

	    						<button type="button" class="btn" ng-show="editMode" ng-click="cancel()" title="Отменить">
									<i class="icon-reply"></i>
								</button>
	    						<button type="button" class="btn" ng-show="editMode" ng-click="update()" ng-disabled="editTaskTypeForm.$invalid" title="Сохранить">
									<i class="icon-ok"></i>
								</button>
							</form>
						</td>
					</tr>
					<tr>
						<td>Исполнители</td>
						<td><executors model="model.Executors" /></td>
					</tr>
					<tr>
						<td>Содержание</td>
						<td inline-edit="model.Content" on-update="onUpdateProp(model, 'Content', val)">
							<span ng-hide="editMode" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
								<pre ng-hide="editMode" ng-dblclick="edit()" class="span10">{{ model.Content }}</pre>
								<button type="button" class="btn btn-mini" ng-show="showEdit" ng-click="edit()">
									<i class="icon-pencil"></i>
								</button>
	    					</span>
							<div ng-show="editMode" class="input-append" style="width: 100%" novalidate>
								<textarea ng-model="emodel.value" rows="3" class="span10"></textarea>

	    						<button type="button" class="btn" ng-show="editMode" ng-click="cancel()" title="Отменить">
									<i class="icon-reply"></i>
								</button>
	    						<button type="button" class="btn" ng-show="editMode" ng-click="update()" title="Сохранить">
									<i class="icon-ok"></i>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>Срок</td>
						<td inline-edit="model.DueDate" on-update="onUpdateProp(model, 'DueDate', val)">
							<span ng-hide="editMode" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
								<span ng-hide="editMode" ng-dblclick="edit()">{{ (model.DueDate | date:'dd.MM.yyyy') || '---' }}</span>
								<button type="button" class="btn btn-mini" ng-show="showEdit" ng-click="edit()">
									<i class="icon-pencil"></i>
								</button>
	    					</span>
							<div ng-show="editMode" class="input-append" style="width: 100%" novalidate>
								<input type="text" ng-model="emodel.value" ui-date="{dateFormat: 'dd.mm.yy', changeMonth: true, changeYear: true}" ui-date-format=""></input>

	    						<button type="button" class="btn" ng-show="editMode" ng-click="cancel()" title="Отменить">
									<i class="icon-reply"></i>
								</button>
	    						<button type="button" class="btn" ng-show="editMode" ng-click="update()" title="Сохранить">
									<i class="icon-ok"></i>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>Статус</td>
						<td inline-edit="model.Status" on-update="onUpdateProp(model, 'Status', val)">
							<span ng-hide="editMode" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
								<span ng-hide="editMode" ng-dblclick="edit()">{{ model.Status.text }}</span>
								<button type="button" class="btn btn-mini" ng-show="showEdit" ng-click="edit()">
									<i class="icon-pencil"></i>
								</button>
	    					</span>
							<form name="editStatusForm" ng-show="editMode" style="width: 100%" novalidate>
								<input type="text" lookup="tasks/dictionary/lookupTaskStatuses" ng-model="emodel.value" placeholder="Выберите статус" required class="span10" />

	    						<button type="button" class="btn" ng-show="editMode" ng-click="cancel()" title="Отменить">
									<i class="icon-reply"></i>
								</button>
	    						<button type="button" class="btn" ng-show="editMode" ng-click="update()" ng-disabled="editStatusForm.$invalid" title="Сохранить">
									<i class="icon-ok"></i>
								</button>
							</form>
						</td>
					</tr>
					<tr>
						<td>Пользовательский статус</td>
						<td>{{ model.CustomStatus }}</td>
					</tr>
					<tr>
						<td>Приоритет</td>
						<td inline-edit="model.Priority" on-update="onUpdateProp(model, 'Priority', val)">
							<span ng-hide="editMode" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
								<span ng-hide="editMode" ng-dblclick="edit()">{{ model.Priority.text }}</span>
								<button type="button" class="btn btn-mini" ng-show="showEdit" ng-click="edit()">
									<i class="icon-pencil"></i>
								</button>
	    					</span>
							<form name="editPriorityForm" ng-show="editMode" style="width: 100%" novalidate>
								<input type="text" lookup="tasks/dictionary/lookupTaskPriorities" ng-model="emodel.value" placeholder="Выберите приоритет" class="span10" required />

	    						<button type="button" class="btn" ng-show="editMode" ng-click="cancel()" title="Отменить">
									<i class="icon-reply"></i>
								</button>
	    						<button type="button" class="btn" ng-show="editMode" ng-click="update()" ng-disabled="editPriorityForm.$invalid" title="Сохранить">
									<i class="icon-ok"></i>
								</button>
							</form>
						</td>
					</tr>
					<tr>
						<td>Автор</td>
						<td>{{ model.Author }}</td>
					</tr>
					<tr>
						<td>Создано</td>
						<td>{{ model.CreationTiime }}</td>
					</tr>
				</table>
			</section>
			<section id="agreements">
				<h3>Согласования</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Согласующий</th>
							<th class="onepct">Согласовано</th>
							<th class="span3">Дата</th>
							<th class="span4">Комментарий</th>
							<th class="onepct">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="a in model.Agreements">
							<td>{{ a.Agreemer }}</td>
							<td>
								<i ng-class="{'icon-check': a.Done, 'icon-check-empty': !a.Done}"></i>
							</td>
							<td>{{ a.AgreedAt | date:'dd.MM.yyyy hh:mm' }}</td>
							<td>{{ a.Comment }}</td>
							<td>
								<button type="button" class="close" title="Удалить согласущего" ng-click="removeAgreement(a)">&times;</button>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<form name="addAgreemerForm" style="margin: 0" novalidate>
									<input type="text" name="agreemer" lookup="home/projects/lookupParticipant" ng-model="editables.newAgreemer" placeholder="Выберите согласущего" required class="span6" />
									<button type="button" class="btn" ng-click="addAgreemer()" ng-disabled="addAgreemerForm.$invalid">Добавить</button>
								</form>
							</td>
						</tr>
					</tfoot>
				</table>
			</section>
			<section id="statusHistory">
				<h3>История изменения статуса</h3>
				<status-history model="model.StatusHistory" change="changeStatus(n)" />
			</section>
			<section id="customStatusHistory">
				<h3>История изменения пользовательского статуса</h3>
				<status-history model="model.CustomStatusHistory" change="changeCustomStatus(n)" />
			</section>
			<section id="params">
				<h3>Пользовательские свойства</h3>
				<custom-properties model="model.Parameters" />
			</section>
		</div>
	</div>
</div>