<form name="form" novalidate class="form-horizontal login-form" role="form">
	<div class="modal-header">
		<h4>Sign in</h4>
	</div>
	<div class="modal-body">
		<div class="alert alert-warning" ng-show="authReason">
			{{ i18n[authReason] || authReason }}
		</div>
		<div class="alert alert-error" ng-show="authError">
			{{ authError }}
		</div>
		<div class="alert alert-info">{{ i18n.core.auth.credentials.legend }}</div>
		<div>
			<button type="button" class="btn" ng-click="loginFacebook()">
				{{ i18n.core.auth.buttons.signInFacebook }}
			</button>
			<button type="button" class="btn" ng-click="loginTwitter()">
				{{ i18n.core.auth.buttons.signInTwitter }}
			</button>
			<button type="button" class="btn btn-primary" ng-click="loginDemoUser()">
				{{ i18n.core.auth.buttons.demo }}
			</button>
		</div>
	</div>
</form>
