<li ng-class="{dropdown: isAuthenticated(), dark: true, 'user-menu': true}">
    <a ng-show="!isAuthenticated()" ng-click="login()" href="#">Login</a>

    <a ng-show="isAuthenticated()" href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img width="23" height="23" src="http://beer2code.com/themes/core-admin/images/avatars/avatar1.jpg" />
	    <span class="user-name">{{ currentUser.FullName }}</span>
	    <b class="caret"></b>
    </a>
    <ul ng-show="isAuthenticated()" class="dropdown-menu">
        <li>
            <a ui-sref="page.userProfile">
                <i class='icon-user'></i>
                {{ i18n.core.menu.user.profile }}
            </a>
        </li>
        <li>
            <a href="#">
            	<i class='icon-rss'></i>
                {{ i18n.core.menu.user.messages }}
            </a>
        </li>
        <li>
        	<a ui-sref="page.reporting.reports">
        		<i class='icon-print'></i>
        		{{ i18n.core.menu.user.reports }}
        	</a>
        </li>
        <li>
        	<a href="#">
        		<i class='icon-cog'></i>
        		{{ i18n.core.menu.user.system }}
        	</a>
        </li>
        <li class="divider"></li>
        <li>
        	<a href="#" ng-click="logout()">
        		<i class='icon-signout'></i>
        		{{ i18n.core.auth.buttons.signOut }}
        	</a>
        </li>
    </ul>
</li>