<container>
	<div filtered-list="'home/dictionary/getProjectTags'"
	     request-params = "requestParams"
	     current-user="currentUser"
	     edit-form-visible = "editFormVisible"
	     editing-item="editingItem"
	     validation="validation"
	     new-item="newItem"
	     edit-item="editItem"
	     delete-item="deleteItem"
	     cancel-edit="cancelEdit"
	     save-item="saveItem">
		<twocolumn-side>
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form ng-init="requestParams.mode = 'Personal'">
						<fieldset>
							<label>Принадлежность</label>
							<select ng-model="requestParams.mode">
								<option value="Personal">Персональные теги</option>
								<option value="Common">Общие теги</option>
							</select>
							<label>Наименование</label>
							<input filter-input="{path: 'Name', op:'like'}" filter-ng-model="filter.simple.Name" />
							<label>Полное наименование</label>
							<input filter-input="{path: 'FullName', op:'like'}" filter-ng-model="filter.simple.FullName" />
						</fieldset>
					</form>
				</tab>
				<tab heading="Complex">
					<div structured-filter
					     filter-ng-model="filter.complex"
					     meta="'home/dictionary/projectTagMetadata'">
					</div>
				</tab>
			</tabset>
		</twocolumn-side>


		<twocolumn-content>
			<div ng-show="loading.active()" us-spinner="{top:100}"></div>

			<div style="margin-bottom: 10px;" ng-show="currentUser.admin || requestParams.mode === 'Personal'">
				<button class="btn btn-primary" ng-click="newItem();">
					<i class="icon-plus icon-white"></i>
					<span>New tag</span>
				</button>
				<form style="margin-top: 10px;" name="newItemForm" class="form-horizontal" novalidate ng-show="editFormVisible">
					<fieldset>
						<div class="alert alert-error" ng-show="validation.generalError">
							{{ validation.generalError }}
						</div>

						<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Name'] }">
							<label class="control-label">Наименование</label>
							<div class="controls">
								<input class="span3" name="Name" type="text" ng-model="editingItem.Name" required />
							<span ng-show="validation.fieldErrors['Name']" class="help-inline">
								{{ validation.fieldErrors['Name'] }}
							</span>
							</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-primary login" ng-click="saveItem();"
						        ng-disabled='newItemForm.$invalid'>Сохранить</button>
						<button class="btn btn-warning" ng-click="cancelEdit();">Отменить</button>
					</div>
				</form>
			</div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="width: 115px;" ng-show="currentUser.admin || requestParams.mode === 'Personal'"></th>
						<th>Наименование</th>
						<th>Полное наименование</th>
						<th>Дата создания</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td ng-show="currentUser.admin || requestParams.mode === 'Personal'">
							<button class="btn-mini btn-info" ng-click="editItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>Edit</span>
							</button>
							<button class="btn-mini btn-danger" ng-click="deleteItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>Delete</span>
							</button>
						</td>
						<td>{{ model.Name }} </td>
						<td>{{ model.FullName }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>
		</twocolumn-content>
	</div>
</container>