<container>
	<div ng-controller="projectTagsCtrl"
		     filtered-list="{ method: 'home/dictionary/getProjectTags'}"
		     initial-sorters="{ FullName: 'asc' }">
		<twocolumn-side>
			<div filtered-list-actions></div>

			<tabset>
				<tab heading="{{ i18n.core.filters.simple }}">
					<form>
						<fieldset>
							<label>{{ i18n.projects.tags.filters.ownership.label }}</label>
							<select ng-model="requestParams.mode">
								<option value="Personal">{{ i18n.projects.tags.filters.ownership.personal }}</option>
								<option value="Common">{{ i18n.projects.tags.filters.ownership.common }}</option>
							</select>
							<label>{{ i18n.core.fields.name }}</label>
							<input type="text" ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}"  class="span12" />
						</fieldset>
					</form>
				</tab>
				<tab heading="{{ i18n.core.filters.complex }}">
					<div structured-filter
					     filter-ng-model="filter.complex"
					     meta="'home/dictionary/projectTagMetadata'">
					</div>
				</tab>
				<tab heading="{{ i18n.core.filters.favorites }}">
					<div filter-persister group="'ProjectTags'" filter="filter"></div>
				</tab>
			</tabset>
		</twocolumn-side>


		<twocolumn-content>
			<div ng-show="currentUser.admin || requestParams.mode === 'Personal'">
				<button style="margin-bottom: 20px;" class="btn btn-primary" ng-click="newItem();">
					<i class="icon-plus icon-white"></i>
					<span>{{ i18n.projects.tags.buttons.add }}</span>
				</button>

				<div class="alert alert-error" ng-show="validation.generalErrors">
					{{ validation.generalErrors | joinBy }}
				</div>

				<form style="margin-top: 10px;" name="newItemForm" class="form-horizontal" novalidate ng-show="editFormVisible">
					<fieldset>
						<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Name'] }">
							<label class="control-label">{{ i18n.core.fields.name }}</label>
							<div class="controls">
								<input class="span3" name="Name" type="text" ng-model="editingItem.Name" required />
							<span ng-show="validation.fieldErrors['Name']" class="help-inline">
								{{ validation.fieldErrors['Name'] | joinBy }}
							</span>
							</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-primary login" ng-click="saveItem();"
						        ng-disabled='newItemForm.$invalid'>{{ i18n.core.buttons.save }}</button>
						<button class="btn btn-warning" ng-click="cancelEdit();">{{ i18n.core.buttons.cancel }}</button>
					</div>
				</form>
			</div>

			<table class="table table-bordered"
			       infinite-scroll="paging.page = paging.page + 1"
			       infinite-scroll-disabled="applyEnabled"
			       infinite-scroll-distance="1">
				<thead>
					<tr>
						<th><span sortable-heading="sorters.Name" caption="{{ i18n.core.fields.name }}"></span></th>
						<th><span sortable-heading="sorters.FullName" caption="{{ i18n.core.fields.fullName }}"></span></th>
						<th><span sortable-heading="sorters.CreationTime" caption="{{ i18n.core.fields.creationTime }}"></span></th>
						<th style="width: 200px;" ng-show="currentUser.admin"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td>{{ model.Name }} </td>
						<td>{{ model.FullName }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
						<td ng-show="currentUser.admin">
							<button class="btn-mini btn-info" ng-click="editItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>{{ i18n.core.buttons.edit }}</span>
							</button>
							<button class="btn-mini btn-danger" ng-click="deleteItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>{{ i18n.core.buttons.delete }}</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div ng-show="indication.loading" us-spinner="{top:100}"></div>
			<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1"
			        ng-disabled="applyEnabled">{{ i18n.core.buttons.more }}</button>
		</twocolumn-content>
	</div>
</container>