<container>
	<div ng-controller="projectTagsCtrl" filtered-list="{ method: 'home/dictionary/getProjectTags'}">
		<twocolumn-side>
			<button type="button" class="btn btn-success" ng-click="refreshList()"
			        ng-disabled="!applyEnabled" style="float:right;">Apply</button>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Принадлежность</label>
							<select ng-model="requestParams.mode">
								<option value="Personal">Персональные теги</option>
								<option value="Common">Общие теги</option>
							</select>
							<label>Наименование</label>
							<input filter-lookup="{path: 'Id', op:'='}" action="home/dictionary/lookupProjectTags" filter-ng-model="filter.simple.Id" />
						</fieldset>
					</form>
				</tab>
				<tab heading="Complex">
					<div structured-filter
					     filter-ng-model="filter.complex"
					     meta="'home/dictionary/projectTagMetadata'">
					</div>
				</tab>
				<tab heading="Favorites">
					<div filter-persister group="'ProjectTags'" filter="filter"></div>
				</tab>
			</tabset>
		</twocolumn-side>


		<twocolumn-content>
			<div ng-show="currentUser.admin || requestParams.mode === 'Personal'">
				<button style="margin-bottom: 20px;" class="btn btn-primary" ng-click="newItem();">
					<i class="icon-plus icon-white"></i>
					<span>New tag</span>
				</button>

				<div class="alert alert-error" ng-show="validation.generalErrors">
					{{ validation.generalErrors | joinBy }}
				</div>

				<form style="margin-top: 10px;" name="newItemForm" class="form-horizontal" novalidate ng-show="editFormVisible">
					<fieldset>
						<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Name'] }">
							<label class="control-label">Наименование</label>
							<div class="controls">
								<input class="span3" name="Name" type="text" ng-model="editingItem.Name" required />
							<span ng-show="validation.fieldErrors['Name']" class="help-inline">
								{{ validation.fieldErrors['Name'] | joinBy }}
							</span>
							</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-primary login" ng-click="saveItem();"
						        ng-disabled='newItemForm.$invalid'>Сохранить</button>
						<button class="btn btn-warning" ng-click="cancelEdit();">Отменить</button>
					</div>
				</form>
			</div>

			<table class="table table-bordered sortable"
			       infinite-scroll="paging.page = paging.page + 1"
			       infinite-scroll-disabled="applyEnabled"
			       infinite-scroll-distance="1">
				<thead>
					<tr>
						<th style="width: 115px;" ng-show="currentUser.admin || requestParams.mode === 'Personal'"></th>
						<th data-sortproperty="Name" data-defaultsort="asc">Наименование</th>
						<th data-sortproperty="FullName">Полное наименование</th>
						<th data-sortproperty="CreationTime">Дата создания</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="model in models">
						<td ng-show="currentUser.admin || requestParams.mode === 'Personal'">
							<button class="btn-mini btn-info" ng-click="editItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>Edit</span>
							</button>
							<button class="btn-mini btn-danger" ng-click="deleteItem(model);">
								<i class="icon-edit icon-white"></i>
								<span>Delete</span>
							</button>
						</td>
						<td>{{ model.Name }} </td>
						<td>{{ model.FullName }}</td>
						<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
					</tr>
				</tbody>
			</table>

			<div ng-show="indication.loading" us-spinner="{top:100}"></div>
			<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1"
			        ng-disabled="applyEnabled">More</button>
		</twocolumn-content>
	</div>
</container>