<container>
	<onecolumn-content>
		<form name="createProjectForm" class="form-horizontal" novalidate>
			<fieldset>
				<legend>Создание нового проекта</legend>

				<div class="alert alert-error" ng-show="validation.generalErrors">
					{{ validation.generalErrors | joinBy }}
				</div>

				<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Type'] }">
					<label class="control-label">Тип проекта</label>
					<div class="controls">
						<input class="span3" name="Type" type="text"
						       ui-select2="projectTypeSelectOptions" ng-model="lookups.projectType" autofocus required />
						<span ng-show="validation.fieldErrors['Type']" class="help-inline">
							{{ validation.fieldErrors['Type'] | joinBy }}
						</span>
					</div>
				</div>
				<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['ProjectCode'] }">
					<label class="control-label">Код проекта</label>
					<div class="controls">
						<input class="span3" name="ProjectCode" type="text" ng-model="project.ProjectCode" required />
						<span ng-show="validation.fieldErrors['ProjectCode']" class="help-inline">
							{{ validation.fieldErrors['ProjectCode'] | joinBy }}
						</span>
					</div>
				</div>
				<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Name'] }">
					<label class="control-label">Наименование</label>
					<div class="controls">
						<input class="span3" name="Name" type="text" ng-model="project.Name" required />
						<span ng-show="validation.fieldErrors['Name']" class="help-inline">
							{{ validation.fieldErrors['Name'] | joinBy }}
						</span>
					</div>
				</div>
				<div ng-class="{ 'control-group': true, 'error': !!validation.fieldErrors['Description'] }">
					<label class="control-label">Описание</label>
					<div class="controls">
						<textarea class="span3" name="Description" ng-model="project.Description"></textarea>
						<span ng-show="validation.fieldErrors['Description']" class="help-inline">
							{{ validation.fieldErrors['Description'] | joinBy }}
						</span>
					</div>
				</div>
			</fieldset>
			<div>
				<button class="btn btn-primary" ng-click="createProject()"
				        ng-disabled='createProjectForm.$invalid'>Создать</button>
				<a class="btn btn-warning" href="/#!/projects/listview">Отменить</a>
			</div>
		</form>

	</onecolumn-content>
</container>