<!-- <container> -->
<div class="container-fluid" ng-controller="customStatusCtrl"
     filtered-list="{method: 'tasks/dictionary/getCustomStatuses'}"
     initial-sorters="{ ViewOrder: 'asc' }">

	<div class="row-fluid">
		<!-- <twocolumn-side> -->
		<div class="span3">
			<div filtered-list-actions></div>

			<tabset>
				<tab heading="Simple">
					<form>
						<fieldset>
							<label>Наименование</label>
							<input type="text" ng-model="filter.simple.Name" filter-node="{path: 'Name', op:'like'}"  class="span12" />
						</fieldset>
					</form>
				</tab>

				<tab heading="Complex">
					<div structured-filter filter-ng-model="filter.complex" meta="'tasks/dictionary/customStatusMetadata'">
					</div>
				</tab>

				<tab heading="Favorites">
					<div filter-persister group="'Tasks.CustomStatus'" filter="filter"></div>
				</tab>
			</tabset>
		</div>
		<!-- </twocolumn-side> -->

		<!-- <twocolumn-content> -->
		<div class="span9">
			<div class="alert alert-error span12" ng-show="validation.generalErrors">
				{{ validation.generalErrors | joinBy }}
			</div>
			<form name="createStatusForm" class="form-inline" novalidate>
				<fieldset>
					<div class="span6 controls">
						<div class="span5" style="display: inline-block">
							<input type="text" ng-model="editModel.name" class="span12" placeholder="Наименование статуса" required />
							<span ng-show="validation.fieldErrors['Name']" class="help-block alert-error">
								{{ validation.fieldErrors['Name'] | joinBy }}
							</span>
						</div>

						<div class="span3" style="display: inline-block">
							<input type="text" name="viewOrder" ago-integer ago-min="0" ago-max="255" required ng-model="editModel.viewOrder" class="span12" placeholder="№ п/п" />
							<span ng-show="isViewOrderInvalid()" class="help-inline alert-error">
								Значение должно быть числом в диапазоне [0-255]
							</span>
							<span ng-show="validation.fieldErrors['ViewOrder']" class="help-inline alert-error">
								{{ validation.fieldErrors['ViewOrder'] | joinBy }}
							</span>
						</div>

						<button type="button" class="btn" ng-click="createStatus()" ng-disabled="createStatusForm.$invalid">Добавить</button>
					</div>

					<div class="span6 pull-right">
						<input type="text" lookup="tasks/dictionary/lookupCustomStatuses" lookup-options="{allowClear: true}" ng-model="deleteModel.replacementStatus" placeholder="Статус для замены удаляемых (опционально)" style="width: 80%"/>
						<button type="button" class="btn" ng-click="deleteSelected()" ng-disabled="!hasSelected()">Удалить</button>
					</div>
				</fieldset>
			</form>

			<table class="table table-bordered"
			       infinite-scroll="paging.page = paging.page + 1"
			       infinite-scroll-disabled="applyEnabled"
			       infinite-scroll-distance="1">
				<thead>
				<tr>
					<th style="width: 1%">
						<input type="checkbox" checker="items: 'models'">
					</th>
					<th><span sortable-heading="sorters.Name" caption="Наименование"></span></th>
					<th style="width: 15%"><span sortable-heading="sorters.ViewOrder" caption="Порядок"></span></th>
					<th style="width: 15%"><span sortable-heading="sorters.Creator_FIO" caption="Автор"></span></th>
					<th style="width: 20%"><span sortable-heading="sorters.CreationTime" caption="Дата создания"></span></th>
					<th style="width: 1%">&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="model in models">
					<td>
						<input type="checkbox" ng-model="model.selected" data-itemid="{{ model.Id }}">
					</td>
					<td>
						<inline-text model="model.Name" on-update="onUpdateProp(model, 'Name', val)" on-cancel="onCancel(model, val)" input-class="span8" required></inline-text>
						<span ng-show="model.validation.fieldErrors['Name']" class="help-block alert-error">
							{{ model.validation.fieldErrors['Name'] | joinBy }}
						</span>
					</td>
					<td>
						<inline-text model="model.ViewOrder" on-update="onUpdateProp(model, 'ViewOrder', val)" on-cancel="onCancel(model, val)" input-class="span4" required></inline-text>
						<span ng-show="model.validation.fieldErrors['ViewOrder']" class="help-block alert-error">
							{{ model.validation.fieldErrors['ViewOrder'] | joinBy }}
						</span>
					</td>
					<td>{{ model.Author }}</td>
					<td>{{ model.CreationTime | date:'dd.MM.yyyy hh:mm:ss' }}</td>
					<td>
						<button type="button" class="close" title="Удалить статус задачи" ng-click="delete(model)">&times;</button>
					</td>
				</tr>
				</tbody>
			</table>

			<div ng-show="indication.loading" us-spinner="{top:100}"></div>
			<button type="button" class="btn btn-primary" ng-click="paging.page = paging.page + 1"
			        ng-disabled="applyEnabled">More</button>
		</div>
		<!-- </twocolumn-content> -->
	</div>
</div>
<!-- </container> -->