.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.avatar-square {
    -webkit-box-shadow: 0 1px 3px #1e1e1e;
    -moz-box-shadow: 0 1px 3px #1e1e1e;
    box-shadow: 0 1px 3px #1e1e1e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.avatar-small {
    height: 32px;
    width: 32px;
}
.avatar-header {
    margin: -16px 10px -14px 10px;
    -webkit-box-shadow: 0 1px 3px #1e1e1e;
    -moz-box-shadow: 0 1px 3px #1e1e1e;
    box-shadow: 0 1px 3px #1e1e1e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    height: 32px;
    width: 32px;
}