ul.navbreadcrumbs {
display: block;
float: left;
padding-left: 10px;
background: rgba(255, 255, 255, 0);
background: transparent;
margin: 0px;
padding: 10px 0px;
}

.navbreadcrumbs > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbreadcrumbs > li {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}