.navbar-inverse .notification-dropdown .count {
position: absolute;
top: 1px;
left: 48%;
background: rgb(53, 186, 196);
padding: 0px 5px;
border-radius: 30px;
color: #fff;
line-height: 16px;
z-index: 9999;
text-align: center;
font-size: 11px;
}

.navbar-inverse .notification-dropdown {
position: relative;
}


.navbar-inverse .nav > li > a {
padding: 13px 15px 8px;
border-left: 1px solid #101417;
color: rgb(214, 214, 214);
outline: 0px;
height: 25px;
transition: background .1s linear;
-moz-transition: background .1s linear;
-webkit-transition: background .1s linear;
-o-transition: background .1s linear;
}

.navbar-inverse .nav > li > a {
color: rgb(214, 214, 214);
}

.messages > li {
	width: 200px;
}

.messages a {
	white-space: normal !important;
}