.filtered-list {
	.filters-box  {
		.title {
			label {
				margin: 0;
				line-height: 33px;
			}
		}

		.ago-box {
			margin-bottom: 5px;
		}
	}

	.box-toolbox {
		label.pull-left {
			margin: 0;
			line-height: 33px;
		}
	}
}