.filtered-list .box-toolbox label {
  margin: 0;
}
.filtered-list .box-toolbox label.pull-left {
  line-height: 33px;
}
.filtered-list .panel-heading label {
  display: block;
  line-height: 33px;
  margin: 0;
}
.filtered-list .panel-heading a label {
  cursor: pointer;
  *cursor: hand;
}
.filtered-list .panel-heading a:hover {
  text-decoration: none;
}
