.onepct {
	width: 1%;
}

.clip-content {
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: normal;
	color: #656b6b;
}

.responsive-table .scrollable-area {
	overflow-x: auto !important;
}

.responsive-table .scrollable-area table.table {
	margin-bottom: 0;
}