span.lookup, span.filterLookup, span.filterInput {
	display: inline-block;
	width: 100%;
}

span.filterInput input, span.filterInput select, input.filterInput, select.filterInput {
	width: 95%;
	height: auto;
	box-sizing: border-box;
}

span.lookup .error {
	font-size: 18px;
	color: #af1903;
	cursor: pointer;
}