<form name="form" novalidate class="login-form">
    <div class="modal-header">
        <h4>Sign in</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-show="authReason">
            {{authReason}}
        </div>
        <div class="alert alert-error" ng-show="authError">
            {{authError}}
        </div>
        <div class="alert alert-info">{{ 'core.auth.credentials.legend' | i18n }}</div>
        <label>{{ 'core.auth.credentials.email' | i18n }}</label>
        <input name="login" type="email" ng-model="user.email" required autofocus>
        <label>{{ 'core.auth.credentials.password' | i18n }}</label>
        <input name="pass" type="password" ng-model="user.password" required>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="login()" ng-disabled='form.$invalid'>
	        {{ 'core.auth.buttons.signIn' | i18n }}
        </button>
        <button class="btn clear" ng-click="clearForm()">
	        {{ 'core.buttons.clear' | i18n }}
        </button>
        <button class="btn btn-warning cancel" ng-click="cancelLogin()">
	        {{ 'core.buttons.cancel' | i18n }}
        </button>
    </div>
</form>
