<div class="container">

	<div class="row" id="content-wrapper">
		<div class="col-xs-12">

			<div class="row hidden-sm hidden-md hidden-lg">
				<div class="col-xs-12">
					<div class="page-header">
						<h1 class="pull-left">
							<i class="icon-cog"></i>
							<span>{{ i18n.projects.tags.title }}</span>
						</h1>
					</div>
				</div>
			</div>

			<ago-box color="purple" large="true" header-class="{'hidden-xs': true, 'hidden-md': true, 'hidden-lg': true}" style="margin-top: 5px">
				<ago-box-title>
					<i class="fa icon-cog"></i>
					{{ i18n.projects.tags.title }}
				</ago-box-title>
				
				<ago-box-content>
					<div class="box-toolbox box-toolbox-top clearfix">
						<ago-error-msg></ago-error-msg>

						<form class="form-horizontal col-xs-10">
							<div class="form-group">
								<select class="form-control" ng-model="currentType" ng-options="t.id as i18n.msg(t.code) for t in tagTypes"></select>
							</div>
						</form>

						<div class="pull-right btn-group">
							<button class="btn btn-success" title="{{ i18n.core.tags.addTag }}" ng-click="newTag()">
								<i class="icon-plus"></i>
							</button>
						</div>
					</div>
					<div class="responsive-table">
						<div class="scrollable-area">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="col-xs-12 col-sm-6">{{ i18n.core.fields.name }}</th>
										<th class="col-sm-6 hidden-xs">{{ i18n.core.fields.fullName }}</th>
										<th class="onepct">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="model in models">
										<td class="col-xs-12 col-sm-6" style="white-space: normal">
											<inline-text model="model.Name" on-update="onUpdate(model, val)" on-cancel="onCancel(model)" input-class="span10" required></inline-text>
											<span ng-show="model.validation.generalErrors" class="help-block alert-error">
												{{ model.validation.generalErrors | joinBy }}
											</span>
											<span ng-show="model.validation.fieldErrors['Name']" class="help-block alert-error">
												{{ model.validation.fieldErrors['Name'] | joinBy }}
											</span>
											<p ng-show="model.Name != model.FullName">
												<small class="visible-xs text-muted">{{ model.FullName }}</small>
											</p>
										</td>
										<td class="col-sm-6 hidden-xs">{{ model.FullName }}</td>
										<td class="onepct">
											<div class="btn-group-vertical">
												<button ng-show="model.Id" class="btn btn-success btn-sm" title="{{ i18n.core.tags.addTag }}" ng-click="newTag(model)">
													<i class="icon-plus"></i>
												</button>
												<ago-btn-delete title="{{ i18n.tasks.types.buttons.delete }}" ng-click="deleteTag(model)"></ago-btn-delete>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="box-toolbox box-toolbox-bottom">
						<button type="button" class="btn btn-primary" ng-click="nextPage()">{{ i18n.core.buttons.more }}</button>

						<counter action="core/dictionary/getTagsCount"></counter>
					</div>
				</ago-box-content>
				
			</ago-box>

		</div>
	</div>
</div>